{% extends 'admin/menu/layout.html.twig' %}
{% block body %}
    <table
  class="table table-bordered table-hover table-striped"
  data-locale="fr-FR"
  data-toggle="table"
  data-search="true"
  data-show-columns="true">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Icon</th>
                <th>Position</th>
                <th>Data</th>
                <th>Separateur</th>
                <th>Clef</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in pagination %}
            <tr>
                <td>{{ menu.libelle }}</td>
                <td>{{ menu.icon }}</td>
                <td>{{ menu.position }}</td>
                <td>{{ menu.data ? menu.data|json_encode : '' }}</td>
                <td>{{ menu.separateur ? 'Yes' : 'No' }}</td>
                <td>{{ menu.clef }}</td>
                <td>
                    <a href="{{ path('admin_menu_show', {'id': menu.id}) }}">show</a>
                    <a href="{{ path('admin_menu_edit', {'id': menu.id}) }}">edit</a>
                    <a href="{{ path('admin_menu_delete', {'id': menu.id}) }}" data-token="{{ csrf_token(menu) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_menu_new') }}">Create new</a>
{% endblock %}
