{% macro show (children, position) %}
    <ul{% if 0==position %} class="tree"{% endif %}>
        {% for child in children %}
        <li>
            {% if child.separateur %}
                {{ 'menu.divider'|trans({}, 'admin.messages') }} {{ _self.link(child, position) }}
            {% else %}
                {{ child.name }} {{ _self.link(child, position) }}
                {% if 0 != child.children|length %}
                    {{ _self.show(child.children, position+1) }}
                {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endmacro %}
{% macro addlink(entity, url) %}
    {% set title = "admin.menu.add"|trans({}, 'admin.messages') %}
    {% set state1 = url|guard_route %}
    {% set state2 = is_granted('add', entity) %}
    {% if state1 == true and state2 == true %}
        <link-add
            href="{{ path(url, {'id': entity.id}) }}"
            title="{{ title|e('html_attr') }}"
        />
    {% endif %}
{% endmacro %}
{% macro adddivider(entity, url) %}
    {% set title = "admin.menu.adddivider"|trans({}, 'admin.messages') %}
    {% set state1 = url|guard_route %}
    {% set state2 = is_granted('add', entity) %}
    {% if state1 == true and state2 == true %}
        <link-add
            href="{{ path(url, {'id': entity.id}) }}"
            title="{{ title|e('html_attr') }}"
        />
    {% endif %}
{% endmacro %}
{% macro move(entity, url) %}
    {% set title = "admin.menu.move"|trans({}, 'admin.messages') %}
    {% set state1 = url|guard_route %}
    {% set state2 = is_granted('add', entity) %}
    {% if state1 == true and state2 == true %}
        <link-move
            href="{{ path(url, {'id': entity.id}) }}"
            title="{{ title|e('html_attr') }}"
        />
    {% endif %}
{% endmacro %}
{% macro link (child, position) %}
    {% import "admin/macro.html.twig" as macro_admin %}
    <div class="btngrouptable" role="group">
        {% if child.separateur != true %}
            {{ macro_admin.edit(child, 'admin_menu_update') }}
        {% endif %}
        {% if child.children|length >= 2 %}
            {{ _self.move(child, 'admin_menu_move') }}
        {% endif %}
        {{ macro_admin.delete(child, 'api_action_delete', 'admin_menu_index') }}
        {% if position == 0 and child.separateur == false %}
            {{ _self.addlink(child, 'admin_menu_add') }}
            {{ _self.adddivider(child, 'admin_menu_divider') }}
        {% endif %}
    </div>
{% endmacro %}
