{%- extends 'admin/menu/layout.html.twig' -%}
{%- block body -%}
    <table>
        <tbody>
            <tr>
                <th>Libelle</th>
                <td>{{ entity.libelle }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ entity.icon }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ entity.position }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ entity.data ? entity.data|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Separateur</th>
                <td>{{ entity.separateur ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Clef</th>
                <td>{{ entity.clef }}</td>
            </tr>
        </tbody>
    </table>
{%- endblock -%}
