{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/menu/layout.html.twig' %}
{% block body %}
    <table
        is="table-datatable"
        data-action="{{ 'table.admin.action'|trans|e('html_attr') }}"
        data-multiple
        data-multipleall="{{ 'table.admin.multipleall'|trans|e('html_attr') }}"
        data-multipleelement="{{ 'table.admin.mutipleelement'|trans|e('html_attr') }}"
        data-empty="{{ 'table.admin.empty'|trans|e('html_attr') }}"
        data-count={{ pagination|length }}
    >
        <thead>
            <tr>
                <th>{{ 'menu.libelle'|trans }}</th>
                <th>{{ 'menu.icon'|trans }}</th>
                <th>{{ 'menu.position'|trans }}</th>
                <th>{{ 'menu.data'|trans }}</th>
                <th>{{ 'menu.separateur'|trans }}</th>
                <th>{{ 'menu.clef'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr data-id="{{ entity.id }}">
                <td>{{ entity.libelle }}</td>
                <td>{{ entity.icon }}</td>
                <td>{{ entity.position }}</td>
                <td>{{ entity.data ? entity.data|json_encode : '' }}</td>
                <td>{{ entity.separateur ? 'admin.state.yes'|trans : 'admin.state.no'|trans }}</td>
                <td>{{ entity.clef }}</td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}