{% extends 'admin.html.twig' %}
{% block body %}
    {% embed "admin/table.html.twig" with {
        theads: [
            {
                name: 'menu.name'|trans({}, 'admin.messages'),
            },
            {
                name: 'menu.icon'|trans({}, 'admin.messages'),
            },
            {
                name: 'menu.position'|trans({}, 'admin.messages'),
            },
            {
                name: 'menu.data'|trans({}, 'admin.messages'),
            },
            {
                name: 'menu.separateur'|trans({}, 'admin.messages'),
            },
            {
                name: 'menu.clef'|trans({}, 'admin.messages'),
            }
        ],
        action: true
    } %}
        {% import "admin/macro.html.twig" as macro_admin %}
        {% block tbody %}
            {% for entity in pagination %}
                <tr data-id="{{ entity.id }}">
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.icon }}</td>
                    <td>{{ entity.position }}</td>
                    <td>{{ entity.data ? entity.data|json_encode : '' }}</td>
                    <td>{{ entity.separateur ? 'state.yes'|trans({}, 'admin.messages') : 'state.no'|trans({}, 'admin.messages') }}</td>
                    <td>{{ entity.clef }}</td>
                    <td>
                        {{ macro_admin.actions(entity, actions) }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}