{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/menu/layout.html.twig' %}
{% block body %}
    <table
        is="table-datatable"
        data-action="{{ "Actions"|trans|e('html_attr') }}"
        data-multiple
        data-multipleall="{{ "Tout sélectionner"|trans|e('html_attr') }}"
        data-multipleelement="{{ "Selection"|trans|e('html_attr') }}"
        data-empty="{{ "No records found"|trans|e('html_attr') }}"
        data-count={{ pagination|length }}
    >
        <thead>
            <tr>
                <th>{{ "Libelle"|trans }}</th>
                <th>{{ "Icon"|trans }}</th>
                <th>{{ "Position"|trans }}</th>
                <th>{{ "Data"|trans }}</th>
                <th>{{ "Separateur"|trans }}</th>
                <th>{{ "Clef"|trans }}</th>
                <th>{{ ""|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr data-id="{{ entity.id }}">
                <td>{{ entity.libelle }}</td>
                <td>{{ entity.icon }}</td>
                <td>{{ entity.position }}</td>
                <td>{{ entity.data ? entity.data|json_encode : '' }}</td>
                <td>{{ entity.separateur ? 'Yes' : 'No' }}</td>
                <td>{{ entity.clef }}</td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}