{% extends 'admin/groupe/layout.html.twig' %}
{% block body %}
    <table
  data-toggle="table"
  data-search="true"
  data-show-columns="true">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Users</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in pagination %}
            <tr>
                <td>{{ groupe.name }}</td>
                <td>{{ groupe.code }}</td>
                <td>{{ groupe.users|length }}</td>
                <td>
                    <a href="{{ path('admin_groupuser_show', {'id': groupe.id}) }}">show</a>
                    <a href="{{ path('admin_groupuser_edit', {'id': groupe.id}) }}">edit</a>
                    <a href="#">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_groupuser_new') }}">Create new</a>
{% endblock %}
