{% macro show (children, position, actionsurls) %}
    {% import "gestion/macro.html.twig" as macro_gestion %}
    {% for entity in children %}
        <tr data-id="{{ entity.id }}">
            <td>{{ _self.position(position) }} {{ entity.name }}</td>
            <td>{{ entity.slug }}</td>
            <td>
                {{ macro_gestion.actions(entity, actionsurls) }}
            </td>
        </tr>
        {{ _self.show(entity.children, position+1, actionsurls) }}
    {% endfor %}
{% endmacro %}
{% macro position(chiffre) %}
    {% for i in range(0, chiffre) %}
        {% if i == 1 %}
            |—
        {% elseif i >= 2 %}
            —
        {% endif %}
    {% endfor %}
{% endmacro %}