<section id="{{ paragraph_id(paragraph) }}" class="{{ paragraph_class(paragraph) }}">
    {% for bookmark in pagination %}
		<div class="bookmark_data">
			<h2 class="bookmark_name">
				<a href="{{ path('front_bookmark', {'slug': bookmark.slug}) }}" target="_blank">
					{{ bookmark.name }}
				</a>
			</h2>
			{% set img = attachment(bookmark.img) %}
			{% if img is not null and img.name is not null %}
				<picture class="bookmark_img">
					<img loading="lazy" alt="{{ bookmark.name|e('html_attr') }}" src="{{ asset(img.name) | imagefilter('my_thumb') }}"/>
				</picture>
			{% endif %}
			<div class="bookmark_date">
				{{ 'bookmark.infodate'|trans(
                    {
                        '%date%': bookmark.published|format_datetime(pattern=formatdatetime.public)
                    }
                )|raw }}
				{% set state = guard_route('admin_bookmark_edit') %}
				{% if state == true %}
					<a href="{{ path('admin_bookmark_edit', {'id': bookmark.id}) }}" target="_blank">Modifier</a>
				{% endif %}
			</div>
			<div class="bookmark_content">
				{{ bookmark.content|raw }}
			</div>
            <div class="bookmark_libcat">
                {% for libelle in bookmark.libelles %}
                    <a href="{{ path('front_bookmark_libelle', {'slug' : libelle.slug}) }}" class="bookmark_libelle">{{ libelle }}</a>
                {% endfor %}
                {% if bookmark.refcategory %}
                    <a href="{{ path('front_bookmark_category', {'slug': bookmark.refcategory.slug}) }}" class="bookmark_category">{{ bookmark.refcategory }}</a>
                {% endif %}
            </div>
		</div>
	{% endfor %}
	{% if pagination is defined %}
		{{ knp_pagination_render(pagination) }}
	{% endif %}
</section>
