{% set showaside = true %}
{% set mainclass = "main-home" %}
{% import "macro.html.twig" as macro_site %}
{% extends 'skeleton/home.html.twig' %}
{% block aside %}
	<div class="aside-lists">
		{% include "front/posts/aside.html.twig" %}
		{% include "front/aside.html.twig" %}
	</div>
{% endblock %}
{% block header %}
	{% set img = attachment(post.img) %}
	{% if img is not null and img.name is not null %}
		<picture class="header_post_img">
			<img alt="{{ post.title|e('html_attr') }}" src="{{ asset(img.name) | imagefilter('my_thumb') }}"/>
		</picture>
	{% endif %}
{% endblock %}
{% block section %}
	<div class="post_data">
		<h2 class="post_title">{{ post.title }}</h2>
		<div class="post_date">
			{{ 'post.infodateuser'|trans(
                    {
                        '%date%': post.published|format_datetime(pattern=formatdatetime.public),
                        '%user%': macro_site.user(post.refuser, page('post', 'user', {'username': post.refuser.username}))
                    }
                )|raw }}
			{% set state = guard_route('admin_post_edit') %}
			{% if state == true %}
				<a href="{{ path('admin_post_edit', {'id': post.id}) }}" target="_blank">{{ 'post.update'|trans }}</a>
			{% endif %}
		</div>
		<div class="post_content">
			{{ post.content|raw }}
		</div>
        <div class="post_libcat">
            {% for libelle in post.libelles %}
                <a href="{{ page('post', 'libelle', {'code' : libelle.slug}) }}" class="post_libelle">{{ libelle }}</a>
            {% endfor %}
        </div>
        <div class="post_libcat">
            {% if post.refcategory %}
                <a href="{{ page('post', 'category', {'code': post.refcategory.slug}) }}" class="post_category">{{ post.refcategory }}</a>
            {% endif %}
        </div>
	</div>
{% endblock %}
