{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/user/email_user/layout.html.twig' %}
{% block body %}
    <table
        is="table-datatable"
        data-action="{{ 'table.admin.action'|trans|e('html_attr') }}"
        data-multiple
        data-multipleall="{{ 'table.admin.multipleall'|trans|e('html_attr') }}"
        data-multipleelement="{{ 'table.admin.mutipleelement'|trans|e('html_attr') }}"
        data-empty="{{ 'table.admin.empty'|trans|e('html_attr') }}"
        data-count={{ pagination|length }}
    >
        <thead>
            <tr>
                <th>{{ 'user.email.adresse'|trans }}</th>
                <th>{{ 'user.email.principal'|trans }}</th>
                <th>{{ 'user.email.user'|trans }}</th>
                <th>{{ 'admin.workflow.state'|trans }}</th>
                <th>{{ 'user.email.workflow'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr data-id="{{ entity.id }}">
                <td>{{ entity.adresse }}</td>
                <td>{{ entity.principal ? 'admin.state.yes'|trans : 'admin.state.no'|trans }}</td>
                <td>{{ entity.refuser }}</td>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
                <td>
                    {{ macro_admin.workflow(entity, actions) }}
                </td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
