{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/user/email_user/layout.html.twig' %}
{% block body %}
    <table
        is="table-datatable"
        data-action="{{ "Actions"|trans|e('html_attr') }}"
        data-multiple
        data-multipleall="{{ "Tout sélectionner"|trans|e('html_attr') }}"
        data-multipleelement="{{ "Selection"|trans|e('html_attr') }}"
        data-empty="{{ "No records found"|trans|e('html_attr') }}"
        data-count={{ pagination|length }}
    >
        <thead>
            <tr>
                <th>{{ "Adresse"|trans }}</th>
                <th>{{ "Principal"|trans }}</th>
                <th>{{ "User"|trans }}</th>
                <th>{{ "State"|trans }}</th>
                <th>{{ "Workflow"|trans }}</th>
                <th>{{ ""|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr data-id="{{ entity.id }}">
                <td>{{ entity.adresse }}</td>
                <td>{{ entity.principal ? 'Yes' : 'No' }}</td>
                <td>{{ entity.refuser }}</td>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
                <td>
                    {{ macro_admin.workflow(entity, actions) }}
                </td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
