{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/geocode/layout.html.twig' %}
{% block body %}
    <table
        is="table-datatable"
        data-action="{{ 'table.admin.action'|trans|e('html_attr') }}"
        data-multiple
        data-multipleall="{{ 'table.admin.multipleall'|trans|e('html_attr') }}"
        data-multipleelement="{{ 'table.admin.mutipleelement'|trans|e('html_attr') }}"
        data-empty="{{ 'table.admin.empty'|trans|e('html_attr') }}"
        data-count={{ pagination|length }}
    >
        <thead>
            <tr>
                <th>{{ 'geocode.countrycode'|trans }}</th>
                <th>{{ 'geocode.postalcode'|trans }}</th>
                <th>{{ 'geocode.placename'|trans }}</th>
                <th>{{ 'geocode.statename'|trans }}</th>
                <th>{{ 'geocode.statecode'|trans }}</th>
                <th>{{ 'geocode.provincename'|trans }}</th>
                <th>{{ 'geocode.provincecode'|trans }}</th>
                <th>{{ 'geocode.communityname'|trans }}</th>
                <th>{{ 'geocode.communitycode'|trans }}</th>
                <th>{{ 'geocode.latitude'|trans }}</th>
                <th>{{ 'geocode.longitude'|trans }}</th>
                <th>{{ 'geocode.accuracy'|trans }}</th>
                <th>{{ 'geocode.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr data-id="{{ entity.id }}">
                <td>
                    <span class="flag-icon flag-icon-{{ entity.countryCode|lower }}"></span>
                    {{ entity.countryCode|country_name('fr') }}
                </td>
                <td>{{ entity.postalCode }}</td>
                <td>{{ entity.placeName }}</td>
                <td>{{ entity.stateName }}</td>
                <td>{{ entity.stateCode }}</td>
                <td>{{ entity.provinceName }}</td>
                <td>{{ entity.provinceCode }}</td>
                <td>{{ entity.communityName }}</td>
                <td>{{ entity.communityCode }}</td>
                <td>{{ entity.latitude }}</td>
                <td>{{ entity.longitude }}</td>
                <td>{{ entity.accuracy }}</td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
