{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/geocode/layout.html.twig' %}
{% block body %}
    <table
  data-locale="fr-FR"
  data-toggle="table"
  data-show-columns="true">
        <thead>
            <tr>
                <th>CountryCode</th>
                <th>PostalCode</th>
                <th>PlaceName</th>
                <th>StateName</th>
                <th>StateCode</th>
                <th>ProvinceName</th>
                <th>ProvinceCode</th>
                <th>CommunityName</th>
                <th>CommunityCode</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Accuracy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.countryCode }}</td>
                <td>{{ entity.postalCode }}</td>
                <td>{{ entity.placeName }}</td>
                <td>{{ entity.stateName }}</td>
                <td>{{ entity.stateCode }}</td>
                <td>{{ entity.provinceName }}</td>
                <td>{{ entity.provinceCode }}</td>
                <td>{{ entity.communityName }}</td>
                <td>{{ entity.communityCode }}</td>
                <td>{{ entity.latitude }}</td>
                <td>{{ entity.longitude }}</td>
                <td>{{ entity.accuracy }}</td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
