<div class="header_top-title">
    <a href="{{ path('front') }}">
        {% if imageglobal is not null and imageglobal.name is not null %}
            <picture class="home_logo">
                <img alt="{{ config.site_title|e('html_attr') }}" src="{{ asset(imageglobal.name) }}" />
            </picture>
        {% else %}
            {{ config.site_title }}
        {% endif %}
    </a>
</div>
{#
<div class="header_top-login">
    <a href="{{ path('admin') }}">Se connecter</a>
</div>
#}
{#
{% include "skeleton/home/menu.html.twig" %}
#}