{% extends 'front.html.twig' %}
{% block body %}
    <header{% if headerclass is defined %} class="{{ headerclass }}"{% endif %}>
        <div class="header-row">
            {% include "skeleton/home/header.html.twig" %}
            {% block header %}{% endblock %}
        </div>
    </header>
    <main{% if mainclass is defined %} class="{{ mainclass }}"{% endif %}>
        <div class="row">
            <section{% if sectionclass is defined %} class="{{ sectionclass }}"{% endif %}>
                {% block section %}{% endblock %}
            </section>
            {% if showaside is defined %}
            <aside{% if asideclass is defined %} class="{{ asideclass }}"{% endif %}>
                {% block aside %}{% endblock %}
            </aside>
            {% endif %}
        </div>
    </main>
	<footer{% if footerclass is defined %} class="{{ footerclass }}"{% endif %}>
        {% include "skeleton/home/footer.html.twig" %}
	</footer>
{% endblock %}
