{% set bodyclass = 'body-disclaimer' %}
{% extends 'global.html.twig' %}
{% import "macro.html.twig" as macro_site %}
{% block content_title %}{{ title }}{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ macro_site.flashbag(app) }}
    <div>
        {{ config['disclaimer']['message']|raw }}
    </div>
    {{ form_row(form.confirm) }}
    <div class="btns">
        {{ form_row(form.submit) }}
        {{ form_row(form.reset) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
