{% extends 'skeleton/landing.html.twig' %}

{% import "macro.html.twig" as macro_site %}
{% set title = '' %}
{% if config.site_title is defined %}
    {% set title = config.site_title|trim %}
{% endif %}
{% block content_title %}{{ title }}{% endblock %}
{% if config['disclaimer']['title'] is defined %}
    {% set title = config['disclaimer']['title'] %}
{% endif %}
{% block box_title %}{{ title }}{% endblock %}
{% block box %}
    {{ form_start(form) }}
    {{ macro_site.flashbag(app) }}
    <div>
        {{ config['disclaimer']['message']|raw }}
    </div>
    {{ form_row(form.confirm) }}
    <div class="btns">
        {{ form_row(form.submit) }}
        {{ form_row(form.reset) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
