{% extends 'skeleton/landing.html.twig' %}

{% block page_title %}Log in!{% endblock %}
{% block box_title %}Please sign in{% endblock %}
{% block box %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <p>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </p>
        </div>
    {% endif %}
    {{ form_start(formLogin) }}
    {{ form_row(formLogin.username) }}
    {{ form_row(formLogin.password) }}
    <div class="btns">
        {{ form_row(formLogin.remember_me) }}
        {{ form_row(formLogin.submit) }}
    </div>
    {% set state = guard_route('app_lost') %}
    {% if state == true %}
        <div class="links">
            <a href="{{ path("app_lost") }}">{{ 'user.lostpassword.link'|trans }}</a>
        </div>
    {% endif %}
    {{ form_end(formLogin) }}
{% endblock %}
