{% extends 'skeleton/landing.html.twig' %}

{% block page_title %}Log in!{% endblock %}
{%block box_title %}Please sign in{% endblock %}
{% block box %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {{ form(formLogin) }}
    {% set state = guard_route('app_lost') %}
    {% if state == true %}
        <div class="links">
            <a href="{{ path("app_lost") }}">J'ai perdu mon mot de passe</a>
        </div>
    {% endif %}
    {% set state = guard_route('connect_start') %}
    {% if state == true and oauths|length != 0 %}
        <div class="oauth">
            <div class="oauth-title">Se connecter avec :</div>
            <div class="oauth-btns">
            {% for oauth in oauths %}
                <a href="{{ path('connect_start', {'oauthCode': oauth.name}) }}" title="{{ oauth.name|e('html_attr') }}">
                    <i class="fab fa-{{ oauth.name }}"></i>
                    {{ oauth.name }}
                </a>
            {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
