{% extends 'admin/post/layout.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>{{ "post.title"|trans }}</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>{{ "post.content"|trans }}</th>
                <td>{{ entity.content|raw }}</td>
            </tr>
            <tr>
                <th>{{ "post.published"|trans }}</th>
                <td>{{ entity.published|format_datetime(pattern=formatdatetime.admin) }}</td>
            </tr>
            {% set img = attachment(entity.img) %}
            {% if img is not null and img.name is not null %}
            <tr>
                <th>{{ "post.image"|trans }}</th>
                <td>
                    <picture >
                        <img alt="{{ "post.image"|trans|e("html_attr") }}" src="{{ asset(img.name) | imagefilter('my_thumb') }}" />
                    </picture>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ "post.user"|trans }}</th>
                <td>
                    {% if entity.refuser.deletedAt != '' %}
                        {% set url = 'admin_user_preview' %}
                    {% else %}
                        {% set url = 'admin_user_show' %}
                    {% endif %}
                    {% set state = guard_route(url) %}
                    {% if state == true %}
                        <a href="{{ path(url, {'id': entity.refuser.id}) }}">{{ entity.refuser }}</a>
                    {% else %}
                        {{ entity.refuser }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ "admin.workflow.state"|trans }}</th>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
