{% extends 'gestion.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>{{ 'user.phone.numero'|trans({}, 'gestion.messages') }}</th>
                <td><a href="tel:{{ entity.numero }}">{{ entity.numero }}</a></td>
            </tr>
            <tr>
                <th>{{ 'user.phone.verif'|trans({}, 'gestion.messages') }}</th>
                <td>
                    {% set check = verif_phone(entity.country, entity.numero)  ? 'ok' : 'ko' %}
                    <span class="check-{{ check }}"></span>
                </td>
            </tr>
            <tr>
                <th>{{ 'user.phone.country'|trans({}, 'gestion.messages') }}</th>
                <td>
                    <span class="flag-icon flag-icon-{{ entity.country|lower }}"></span>
                    {{ entity.country|country_name('fr') }}
                </td>
            </tr>
            <tr>
                <th>{{ 'user.phone.type'|trans({}, 'gestion.messages') }}</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>{{ 'user.phone.principal'|trans({}, 'gestion.messages') }}</th>
                <td>{{ entity.principal ? 'state.yes'|trans({}, 'gestion.messages') : 'state.no'|trans({}, 'gestion.messages') }}</td>
            </tr>
            <tr>
                <th>{{ 'user.phone.user'|trans({}, 'gestion.messages') }}</th>
                <td>
                    {% if entity.refuser.deletedAt != '' %}
                        {% set url = 'gestion_user_preview' %}
                    {% else %}
                        {% set url = 'gestion_user_show' %}
                    {% endif %}
                    {% set state = url|guard_route %}
                    {% if state == true %}
                        <a href="{{ path(url, {'id': entity.refuser.id}) }}">{{ entity.refuser }}</a>
                    {% else %}
                        {{ entity.refuser }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'workflow.state'|trans({}, 'gestion.messages') }}</th>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
