<table is="guard-route">
    <thead>
        <tr>
            <th rowspan=2>
                Route
            </th>
            <th rowspan=2>
                Actions
            </th>
            <th>
                {{ group.name }}
            </th>
        </tr>
        <tr>
            <th>
                {% if 'superadmin' != group.code %}
                    <guard-routegroup
                        data-state=0
                        data-token="{{ csrf_token('guard') }}"
                    ></guard-routegroup>
                {% else %}
                    ----
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
    {% for route in routes %}
        <tr>
            <td>
                {{ route.name }}
            </td>
            <td>
                <guard-routegroups
                    data-state=0
                    data-route="{{ route.name|e }}"
                    data-token="{{ csrf_token('guard') }}"
                ></guard-routegroups>
            </td>
            <td>
                {% if 'superadmin' != group.code %}
                    <guard-routesetgroup
                        title="{{ group.name|e }}"
                        data-state=0
                        data-groupe="{{ group.code|e }}"
                        data-route="{{ route.name|e }}"
                        data-token="{{ csrf_token('guard') }}"
                    ></guard-routesetgroup>
                {% else %}
                    ---
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3" class="text-center">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>