{% set state1 = guard_route('api_guard_route') %}
{% set state2 = guard_route('api_guard_routegroup') %}
{% set state3 = guard_route('api_guard_routesetgroup') %}
{% set state = state1 and state2 and state3 %}
{% if state1 == false %}
    {{ "Droit manquant"|trans }}
{% else %}
    <table is="guard-route" data-url="{{ path('api_guard_route', {'group' : group.id}) }}" data-refresh=0>
        <thead>
            <tr>
                <th rowspan=2>
                    {{ "Route"|trans }}
                </th>
                <th>
                    {{ group.name }}
                </th>
            </tr>
            <tr>
                <th>
                    {% if 'superadmin' != group.code %}
                        <guard-changeroute
                            data-state=0
                            data-url="{{ path('api_guard_routegroup', {'group' : group.id}) }}"
                            data-token="{{ csrf_token('guard') }}"
                        ></guard-changeroute>
                    {% else %}
                        ----
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for route in routes %}
            <tr>
                <td>
                    {{ route.name }}
                </td>
                <td>
                    {% if 'superadmin' != group.code %}
                        <guard-setroute
                            title="{{ group.name|e('html_attr') }}"
                            data-state=0
                            data-groupe="{{ group.code|e('html_attr') }}"
                            data-route="{{ route.name|e('html_attr') }}"
                            data-url="{{ path('api_guard_routesetgroup', {'group' : group.id, 'route': route.id}) }}"
                            data-token="{{ csrf_token('guard') }}"
                        ></guard-setroute>
                    {% else %}
                        ---
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="text-center">{{ "no records found"|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}