{% set state1 = 'api_guard_workflow'|guard_route %}
{% set state2 = 'api_guard_workflowgroup'|guard_route %}
{% set state3 = 'api_guard_workflowsetgroup'|guard_route %}
{% set state = state1 and state2 and state3 %}
{% if state1 == false %}
    {{ 'guard.lost'|trans({}, 'admin.messages') }}
{% else %}
    <table is="guard-workflow" data-url="{{ path('api_guard_workflow', {'group' : group.id}) }}" data-refresh=0>
        <thead>
            <tr>
                <th rowspan=2>
                    {{ "guard.entite"|trans({}, 'admin.messages') }}
                </th>
                <th rowspan=2>
                    {{ "guard.transition"|trans({}, 'admin.messages') }}
                </th>
                <th>
                    {{ group.name }}
                </th>
            </tr>
            <tr>
                <th>
                    {% if 'superadmin' != group.code %}
                        {% embed "embed/guard/changeworkflow.html.twig" with {
                            state: 0,
                            url: path('api_guard_workflowgroup', {'group' : group.id}),
                            token: csrf_token('guard')
                        } %}{% endembed %}
                    {% else %}
                        ----
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for workflow in workflows %}
            <tr>
                <td>
                    {{ workflow.entity }}
                </td>
                <td>
                    {{ workflow.transition }}
                </td>
                <td>
                    {% if 'superadmin' != group.code %}
                        {% embed "embed/guard/setworkflow.html.twig" with {
                            title: group.name|e('html_attr'),
                            state: 0,
                            groupe: group.code|e('html_attr'),
                            entity: workflow.entity|e('html_attr'),
                            transition: workflow.transition|e('html_attr'),
                            url: path('api_guard_workflowsetgroup', {'group' : group.id, 'workflow' : workflow.id}),
                            token: csrf_token('guard')
                        } %}{% endembed %}
                    {% else %}
                        ---
                    {% endif %}
                </td>
            </tr>
        {% else %}
                <tr>
                    <td colspan="3" class="text-center">{{ 'norecord'|trans({}, 'admin.messages') }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}