{% extends 'admin/configuration/layout.html.twig' %}
{% block body %}
    <table
  class="table table-bordered table-hover table-striped"
  data-locale="fr-FR"
  data-toggle="table"
  data-search="true"
  data-show-columns="true">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for configuration in pagination %}
            <tr>
                <td>{{ configuration.name }}</td>
                <td>{{ configuration.value ? configuration.value|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('admin_configuration_show', {'id': configuration.id}) }}">show</a>
                    <a href="{{ path('admin_configuration_delete', {'id': configuration.id}) }}" data-token="{{ csrf_token(configuration) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
