{% extends 'admin/configuration/layout.html.twig' %}

{% block title %}Configuration index{% endblock %}

{% block content %}
    <h1>Configuration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for configuration in pagination %}
            <tr>
                <td>{{ configuration.name }}</td>
                <td>{{ configuration.value }}</td>
                <td>
                    <a href="{{ path('configuration_show', {'id': configuration.id}) }}">show</a>
                    <a href="{{ path('configuration_edit', {'id': configuration.id}) }}">edit</a>
                    <a href="#">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('configuration_new') }}">Create new</a>
{% endblock %}
