{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/phone_user/layout.html.twig' %}
{% block body %}
    <table is="table-datatable">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Country</th>
                <th>Verif</th>
                <th>Type</th>
                <th>Principal</th>
                <th>State</th>
                <th><i title="Actions"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.numero }}</td>
                <td>
                    <span class="flag-icon flag-icon-{{ entity.country|lower }}"></span>
                    {{ entity.country|country_name('fr') }}
                </td>
                <td>
                    {% set check = verifPhone(entity.country, entity.numero)  ? 'OK' : 'KO' %}
                    <span class="check{{ check }}"></span>
                </td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.principal ? 'Yes' : 'No' }}</td>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="text-center">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
