{% extends 'admin/phone_user/layout.html.twig' %}

{% block body %}
    <table
  class="table table-bordered table-hover table-striped"
  data-locale="fr-FR"
  data-toggle="table"
  data-search="true"
  data-show-columns="true">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Country</th>
                <th>Type</th>
                <th>Principal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for phone_user in pagination %}
            <tr>
                <td>{{ phone_user.numero }}</td>
                <td>{{ phone_user.country|country_name('fr') }}</td>
                <td>{{ phone_user.type }}</td>
                <td>{{ phone_user.principal ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_phoneuser_show', {'id': phone_user.id}) }}">show</a>
                    <a href="{{ path('admin_phoneuser_edit', {'id': phone_user.id}) }}">edit</a>
                    <a href="{{ path('admin_phoneuser_delete', {'id': phone_user.id}) }}" data-token="{{ csrf_token(phone_user) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_phoneuser_new') }}">Create new</a>
{% endblock %}
