{% extends 'admin/phone_user/layout.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Numero</th>
                <td><a href="tel:{{ entity.numero }}">{{ entity.numero }}</a></td>
            </tr>
            <tr>
                <th>Country</th>
                <td>
                    <span class="flag-icon flag-icon-{{ entity.country|lower }}"></span>
                    {{ entity.country|country_name('fr') }}
                </td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Principal</th>
                <td>{{ entity.principal ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td><a href="{{ path('admin_user_show', {'id': entity.refuser.id}) }}">{{ entity.refuser }}</a></td>
            </tr>
            <tr>
                <th>State</th>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
