{% extends 'admin/phone_user/layout.html.twig' %}
{% block content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Numero</th>
                <td>{{ phone_user.numero }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ phone_user.country|country_name('fr') }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ phone_user.type }}</td>
            </tr>
            <tr>
                <th>Principal</th>
                <td>{{ phone_user.principal ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('phone_user_index') }}">back to list</a>

    <a href="{{ path('phone_user_edit', {'id': phone_user.id}) }}">edit</a>

    {{ include('admin/phone_user/_delete_form.html.twig') }}
{% endblock %}
