{%- if pageCount > 1 -%}
    <nav>
        {%- set classAlign = (align is not defined) ? '' : align=='center' ? ' justify-content-center' : (align=='right' ? ' justify-content-end' : '') -%}
        {%- set classSize = (size is not defined) ? '' : size=='large' ? ' pagination-lg' : (size=='small' ? ' pagination-sm' : '') -%}
        <ul class="pagination{{ classAlign }}{{ classSize }}">
            {%- if first is defined and current != first -%}
                {%- set url = path(route, query|merge({(pageParameterName): first})) -%}
                <li class="page-item">
                    <a class="page-link" href="{{ url }}" tabindex="-1">First</a>
                </li>
            {%- endif -%}
            {%- if previous is defined -%}
                {%- set url = path(route, query|merge({(pageParameterName): previous})) -%}
                <li class="page-item">
                    <a class="page-link" rel="prev" href="{{ url }}" tabindex="-1">Previous</a>
                </li>
            {%- endif -%}
            {%- for page in pagesInRange -%}
                {%- if page != current -%}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {%- else -%}
                    <li class="page-item active">
                        <span class="page-link">
                            {{ page }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                {%- endif -%}
            {%- endfor -%}
            {%- if next is defined -%}
                {%- set url = path(route, query|merge({(pageParameterName): next})) -%}
                <li class="page-item">
                    <a class="page-link" rel="next" href="{{ url }}">Next</a>
                </li>
            {%- endif -%}
            {%- if last is defined and current != last -%}
                {%- set url = path(route, query|merge({(pageParameterName): last})) -%}
                <li class="page-item">
                    <a class="page-link" href="{{ url }}">Last</a>
                </li>
            {%- endif -%}
        </ul>
    </nav>
{%- endif -%}
