{% extends 'admin.html.twig' %}
{% block body %}
    {% embed "admin/table.html.twig" %}
        {% import "admin/macro.html.twig" as macro_admin %}
        {% block thead %}
            {% set theads = [
                {
                    'field': 'a.title',
                    'name': 'block.title'|trans({}, 'admin.messages')
                },
                {
                    'field': 'a.type',
                    'name': 'block.type'|trans({}, 'admin.messages')
                }
            ] %}
            {{ macro_admin.thead(theads, pagination, true) }}
        {% endblock %}
        {% block tbody %}
            {% for entity in pagination %}
                <tr data-id="{{ entity.id }}">
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.type }}</td>
                    <td>
                        {{ macro_admin.actions(entity, actions) }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block modal %}
    {{ parent() }}
    {% include "admin/block/add.html.twig" %}
{% endblock %}
