
{% set sitemetatags = sitemetatags|merge([
    {
        'name': 'robots',
        'content': 'noindex,nofollow'
    }
]) %}
{% import "macro.html.twig" as macro_site %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('back') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('back') }}
{% endblock %}
{% block content %}
	<header>
		<div class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">{{ config.site_title }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="{{ 'admin.togglenavigation'|trans|e('html_attr') }}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-supported-content">
                    {% for key, menu in allmenu %}
                        {% if key == 'admin' or key == 'admin-profil' %}
                            {{ knp_menu_render(menu, {'style': 'navbar', 'currentClass': 'active'}) }}
                        {% endif %}
                    {% endfor %}
				</div>
			</div>
		</div>
	</header>
	<div class="container-fluid">
		<div class="row">
			{% if headerTitle is defined %}
				<div class="col">
					<h1>{{ headerTitle|trans }}
						{% if pagination is defined %}
							({{ pagination.getTotalItemCount }})
						{% endif %}
					</h1>
				</div>
			{% endif %}
			<div class="col text-end">
				{% include 'admin/btn.html.twig' %}
			</div>
		</div>
		{{ macro_site.breadcrumbs(breadcrumbs) }}
		{{ macro_site.flashbag(app.flashes) }}
		{% if searchform is defined %}
            {{ macro_site.searchform(searchform) }}
		{% endif %}
		{% block body %}{% endblock %}
    </div>
    <footer>
        {% if pagination is defined %}
            {{ knp_pagination_render(pagination) }}
        {% endif %}
    </footer>
{% endblock %}
