<!DOCTYPE html>
<html lang="{{ config.languagedefault|e('html_attr') }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ (config.meta.title is defined and config.meta.title != config.site_title) ? config.meta.title~" - "~config.site_title : config.site_title}}</title>
        {% if sitemetatags is defined %}
            {% for attr in sitemetatags %}
                <meta
            {%  for attrname, attrvalue in attr %}
                {{- " " -}}
                {%  if attrname in ['placeholder', 'title'] %}
                    {{- attrname }}="{{ translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }}"
                {%  elseif attrvalue is same as(true) %}
                    {{- attrname }}="{{ attrname }}"
                {%  elseif attrvalue is not same as(false) %}
                    {{- attrname }}="{{ attrvalue }}"
                {%  endif %}
            {%  endfor %}
                 />
            {% endfor %}
        {% endif %}
        {% if app.debug %}
            <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        {% endif %}
        {% if favicon is not null and favicon.name is not null %}
            <link rel="shortcut icon" href="{{ asset(favicon.name) }}" />
            <link rel="icon" href="{{ asset(favicon.name) }}" />
        {% endif %}
        <link rel="canonical" href="{{ canonical }}" />
        {% if config.generator is defined and config.generator == 1 %}
            <link rel="generator" content="labstag" />
        {% endif %}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body{% if bodyclass is defined %} class="{{ bodyclass }}"{% endif %}{% if bodystyle is defined %} style="{{ bodystyle }}"{% endif %}>
        {% block content %}{% endblock %}
        {% block modal %}
            {% if modal is defined %}
                {% for key, value in modal %}
                    {% if value == true %}
                        {% include "modal/"~ key ~".html.twig" %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endblock %}
    </body>
</html>
