{% import "modal.html.twig" as modal %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% if config.site_title is defined %}{{ config.site_title }}{% endif %}{% endblock %}</title>
        {% if config.meta is defined %}
            {% for key, value in config.meta[0] %}
                {% if value|trim != '' %}
                    <meta name="{{ key }}" content="{{ value|trim }}">
                {% endif %}
            {% endfor %}
        {% endif %}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block modal %}
            {% if modalDelete is defined %}
                {{ modal.delete() }}
            {% endif %}
            {% if modalEmpty is defined %}
                {{ modal.empty() }}
            {% endif %}
            {% if modalDestroy is defined %}
                {{ modal.destroy() }}
            {% endif %}
            {% if modalRestore is defined %}
                {{ modal.restore() }}
            {% endif %}
            {% if modalWorkflow is defined %}
                {{ modal.Workflow() }}
            {% endif %}
            {% if modalAttachmentDelete is defined %}
                {{ modal.attachmentDelete() }}
            {% endif %}
        {% endblock %}
    </body>
</html>
