<!DOCTYPE html>
<html lang="{{ config.languagedefault|e('html_attr') }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ config.meta.title }}</title>
        {% if sitemetatags is defined %}
            {% for attr in sitemetatags %}
                <meta
            {%- for attrname, attrvalue in attr -%}
                {{- " " -}}
                {%- if attrname in ['placeholder', 'title'] -%}
                    {{- attrname }}="{{ translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }}"
                {%- elseif attrvalue is same as(true) -%}
                    {{- attrname }}="{{ attrname }}"
                {%- elseif attrvalue is not same as(false) -%}
                    {{- attrname }}="{{ attrvalue }}"
                {%- endif -%}
            {%- endfor -%}
                >
            {% endfor %}
        {% endif %}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% if app.environment == 'dev' %}
            <script src="http://localhost:35729/livereload.js"></script>
        {% endif %}
        {% if tarteaucitronenable is defined %}
            <script type="text/javascript" src="/tarteaucitron/tarteaucitron.js"></script>
            <script type="text/javascript">
                tarteaucitron.init({
                    "privacyUrl": "", /* Privacy policy url */
                    "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                    "cookieName": "tarteaucitron", /* Cookie name */
                    "orientation": "middle", /* Banner position (top - bottom) */
                    "groupServices": false, /* Group services by category */
                    "showAlertSmall": false, /* Show the small banner on bottom right */
                    "cookieslist": false, /* Show the cookie list */
                    "closePopup": false, /* Show a close X on the banner */
                    "showIcon": true, /* Show cookie icon to manage cookies */
                    //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
                    "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */
                    "adblocker": false, /* Show a Warning if an adblocker is detected */
                    "DenyAllCta" : true, /* Show the deny all button */
                    "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                    "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                    "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
                    "removeCredit": false, /* Remove credit link */
                    "moreInfoLink": true, /* Show more info link */
                    "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
                    "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
                    //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                    "readmoreLink": "", /* Change the default readmore link */
                    "mandatory": true, /* Show a message about mandatory cookies */
                });
                tarteaucitron.job = tarteaucitron.job || [];
                tarteaucitron.job.push('youtube');
            </script>
        {% endif %}
    </head>
    <body{% if bodyclass is defined %} class="{{ bodyclass }}"{% endif %}>
        {% block content %}{% endblock %}
        {% block modal %}
            {% if modal is defined %}
                {% for key, value in modal %}
                    {% if value== true %}
                        {% include "modal/"~ key ~".html.twig" %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endblock %}
    </body>
</html>
