<!DOCTYPE html>
<html lang="{{ config.languagedefault|e('html_attr') }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% if config.site_title is defined %}{{ config.site_title|trim }}{% endif %}{% endblock %}</title>
        {% if config.meta is defined %}
            {% for key, value in config.meta %}
                {% if value|trim != '' %}
                    <meta name="{{ key|e('html_attr') }}" content="{{ value|trim|e('html_attr') }}" />
                {% endif %}
            {% endfor %}
        {% endif %}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% if app.environment == 'dev' %}
            <script src="http://localhost:35729/livereload.js"></script>
        {% endif %}
    </head>
    <body{% if bodyclass is defined %} class = "{{ bodyclass }}"{% endif %}>
        {% block content %}{% endblock %}
        {% block modal %}
            {% if modal is defined %}
                {% for key, value in modal %}
                    {% if value== true %}
                        {% include "modal/"~ key ~".html.twig" %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endblock %}
    </body>
</html>
