{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/attachment/layout.html.twig' %}
{% block body %}
    <table
        is="table-datatable"
        data-action="{{ "Actions"|trans|e('html_attr') }}"
        data-multiple
        data-multipleall="{{ "Tout sélectionner"|trans|e('html_attr') }}"
        data-multipleelement="{{ "Selection"|trans|e('html_attr') }}"
        data-empty="{{ "No records found"|trans|e('html_attr') }}"
        data-count={{ pagination|length }}
    >
        <thead>
            <tr>
                <th>{{ "Name"|trans }}</th>
                <th>{{ "Mime type"|trans }}</th>
                <th>{{ "Size"|trans }}</th>
                <th>{{ "Dimensions"|trans }}</th>
                <th>{{ "Download"|trans }}</th>
                <th>{{ "State"|trans }}</th>
                <th>{{ "Workflow"|trans }}</th>
                <th>{{ ""|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr data-id="{{ entity.id }}">
                <td>{{ entity.name }}</td>
                <td>{{ entity.mimeType }}</td>
                <td>{{ entity.size }}</td>
                <td>{{ entity.dimensions|json_encode }}</td>
                <td><a href="{{ asset(entity.name) }}" target="_blank">{{ "Voir le fichier"|trans }}</a></td>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
                <td>
                    {{ macro_admin.workflow(entity, actions) }}
                </td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
