{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/attachment/layout.html.twig' %}
{% block body %}
    <table
        is="table-datatable"
        data-action="{{ 'table.admin.action'|trans|e('html_attr') }}"
        data-multiple
        data-multipleall="{{ 'table.admin.multipleall'|trans|e('html_attr') }}"
        data-multipleelement="{{ 'table.admin.mutipleelement'|trans|e('html_attr') }}"
        data-empty="{{ 'table.admin.empty'|trans|e('html_attr') }}"
        data-count={{ pagination|length }}
    >
        <thead>
            <tr>
                <th>{{ 'attachment.name'|trans }}</th>
                <th>{{ 'attachment.mimetype'|trans }}</th>
                <th>{{ 'attachment.size'|trans }}</th>
                <th>{{ 'attachment.dimensions'|trans }}</th>
                <th>{{ 'attachment.download'|trans }}</th>
                <th>{{ 'attachment.state'|trans }}</th>
                <th>{{ 'attachment.workflow'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr data-id="{{ entity.id }}">
                <td>{{ entity.name }}</td>
                <td>{{ entity.mimeType }}</td>
                <td>{{ entity.size }}</td>
                <td>{{ entity.dimensions|json_encode }}</td>
                <td><a href="{{ asset(entity.name) }}" target="_blank">{{ 'attachment.seefile'|trans }}</a></td>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
                <td>
                    {{ macro_admin.workflow(entity, actions) }}
                </td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
