{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/attachment/layout.html.twig' %}
{% block body %}
    <table
        is="table-datatable"
        data-action="Actions"
        data-multiple
        data-multipleall="Tout sélectionner"
        data-multipleelement="Selection"
        data-empty="No records found"
        data-count={{ pagination|length }}
    >
        <thead>
            <tr>
                <th>Name</th>
                <th>Mime type</th>
                <th>Size</th>
                <th>Dimensions</th>
                <th>Download</th>
                <th>State</th>
                <th>Workflow</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr data-id="{{ entity.id }}">
                <td>{{ entity.name }}</td>
                <td>{{ entity.mimeType }}</td>
                <td>{{ entity.size }}</td>
                <td>{{ entity.dimensions|json_encode }}</td>
                <td><a href="{{ app.request.getSchemeAndHttpHost() ~ asset(entity.name) }}" target="_blank">Voir le fichier</a></td>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
                <td>
                    {{ macro_admin.workflow(entity, actions) }}
                </td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
