{% extends 'admin.html.twig' %}
{% block body %}
    {% embed "admin/table.html.twig" with {
        theads: [
            {
                'field': 'a.name',
                'name': 'attachment.name'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.mimeType',
                'name': 'attachment.mimetype'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.size',
                'name': 'attachment.size'|trans({}, 'admin.messages')
            },
            {
                'name': 'attachment.download'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.state',
                'name': 'attachment.state'|trans({}, 'admin.messages')
            },
            {
                'name': 'attachment.workflow'|trans({}, 'admin.messages')
            }
        ],
        pagination: pagination,
        action: true
    } %}
        {% import "admin/macro.html.twig" as macro_admin %}
        {% block tbody %}
            {% for entity in pagination %}
                <tr data-id="{{ entity.id }}">
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.mimeType }}</td>
                    <td>{{ entity.size }}</td>
                    <td>{% if entity.name != '' %}<a href="{{ asset(entity.name) }}" target="_blank">{{ 'attachment.seefile'|trans({}, 'admin.messages') }}</a>{% endif %}</td>
                    <td>
                        {% for state in workflow_marked_places(entity) %}
                            {{ state }}
                        {% endfor %}
                    </td>
                    <td>
                        {{ macro_admin.workflow(entity, actions) }}
                    </td>
                    <td>
                        {{ macro_admin.actions(entity, actions) }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
