{% extends 'admin.html.twig' %}
{% block body %}
    {% embed "admin/table.html.twig" with {
        theads: [
            {
                'field': 'a.name',
                'name': 'page.name'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.slug',
                'name': 'page.slug'|trans({}, 'admin.messages')
            },
            {
                'name': 'page.paragraphs'|trans({}, 'admin.messages')
            },
            {
                'name': 'page.url'|trans({}, 'admin.messages')
            }
        ],
        pagination: pagination,
        action: true
    } %}
        {% import "admin/macro.html.twig" as macro_admin %}
        {% block tbody %}
            {% for entity in pagination %}
                <tr data-id="{{ entity.id }}">
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.slug }}</td>
                    <td>
                        <ul>
                            {% for paragraph in entity.paragraphs %}
                                <li>{{ paragraph.type|paragraph_name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path('front', {'slug': entity.slug}) }}" target="_blank">
                            {{ 'page.url'|trans({}, 'admin.messages') }}
                        </a>
                    </td>
                    <td>
                        {{ macro_admin.actions(entity, actions) }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
