{% extends 'admin.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>{{ 'page.name'|trans({}, 'admin.messages') }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'page.paragraphs'|trans({}, 'admin.messages') }}</th>
                <td>
                    {% include "paragraphs.html.twig" with {'paragraphs': entity.paragraphs} %}
                </td>
            </tr>
            <tr>
                <th>{{ 'page.slug'|trans({}, 'admin.messages') }}</th>
                <td>{{ entity.slug }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
