{% extends 'admin.html.twig' %}
{% block body %}
    {% embed "admin/table.html.twig" with {
        theads: [
            {
                'field': 'a.numero',
                'name': 'user.phone.numero'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.country',
                'name': 'user.phone.country'|trans({}, 'admin.messages')
            },
            {
                'name': 'user.phone.verif'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.type',
                'name': 'user.phone.type'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.principal',
                'name': 'user.phone.principal'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.state',
                'name': 'workflow.state'|trans({}, 'admin.messages')
            },
            {
                'name': 'user.phone.workflow'|trans({}, 'admin.messages')
            },
            {
                'name': 'user.phone.user'|trans({}, 'admin.messages')
            }
        ],
        pagination: pagination,
        action: true
    } %}
        {% import "admin/macro.html.twig" as macro_admin %}
        {% block tbody %}
            {% for entity in pagination %}
                <tr data-id="{{ entity.id }}">
                    <td>{{ entity.numero }}</td>
                    <td>
                        <span class="flag-icon flag-icon-{{ entity.country|lower }}"></span>
                        {{ entity.country|country_name('fr') }}
                    </td>
                    <td>
                        {% set check = verif_phone(entity.country, entity.numero)  ? 'ok' : 'ko' %}
                        <span class="check-{{ check }}"></span>
                    </td>
                    <td>{{ entity.type }}</td>
                    <td>{{ entity.principal ? 'state.yes'|trans({}, 'admin.messages') : 'state.no'|trans({}, 'admin.messages') }}</td>
                    <td>
                        {% for state in workflow_marked_places(entity) %}
                            {{ state }}
                        {% endfor %}
                    </td>
                    <td>
                        {{ macro_admin.workflow(entity, actions) }}
                    </td>
                     <td>
                        {{ entity.refuser.username }}
                    </td>
                    <td>
                        {{ macro_admin.actions(entity, actions) }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
