<section id="{{ block_id(block) }}" class="{{ block_class(block) }}">
    <a href="{{ path('front') }}">
        {% if imageglobal is not null and imageglobal.name is not null %}
            <picture class="home_logo">
                <img alt="{{ config.site_title|e('html_attr') }}" src="{{ asset(imageglobal.name) | imagefilter('my_thumb') }}" />
            </picture>
        {% else %}
            {{ config.site_title }}
        {% endif %}
    </a>
</section>