{% if block.menu.id is defined and show %}
    <section id="{{ block|block_id }}" class="{{ block|block_class }}">
		<div class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('front') }}">{{ config.site_title }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-{{ block.menu.clef }}" aria-controls="navbar-{{ block.menu.clef }}" aria-expanded="false" aria-label="{{ 'admin.togglenavigation'|trans|e('html_attr') }}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav class="collapse navbar-collapse" id="navbar-{{ block.menu.clef }}">
                    {{ knp_menu_render(item, {'style': 'navbar', 'currentClass': 'active'}) }}
                </nav>
            </div>
        </div>
    </section>
{% endif %}