{% extends 'admin.html.twig' %}
{% block body %}
    {% embed "admin/table.html.twig" with {
        theads: [
            {
                'field': 'a.name',
                'name': 'bookmark.name'|trans({}, 'admin.messages')
            },
            {
                'name': 'bookmark.user'|trans({}, 'admin.messages')
            },
            {
                'name': 'bookmark.category'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.state',
                'name': 'workflow.state'|trans({}, 'admin.messages')
            },
            {
                'name': 'bookmark.workflow'|trans({}, 'admin.messages')
            }
        ],
        pagination: pagination,
        action: true
    } %}
        {% import "admin/macro.html.twig" as macro_admin %}
        {% block tbody %}
            {% for entity in pagination %}
                <tr data-id="{{ entity.id }}">
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.refuser }}</td>
                    <td>{{ entity.refcategory }}</td>
                    <td>
                        {% for state in workflow_marked_places(entity) %}
                            {{ state }}
                        {% endfor %}
                    </td>
                    <td>
                        {{ macro_admin.workflow(entity, actions) }}
                    </td>
                    <td>
                        {{ macro_admin.actions(entity, actions) }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
