{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/bookmark/layout.html.twig' %}
{% block body %}
    <table
        is="table-datatable"
        data-action="{{ 'table.admin.action'|trans({}, 'admin.messages')|e('html_attr') }}"
        data-multiple
        data-multipleall="{{ 'table.admin.multipleall'|trans({}, 'admin.messages')|e('html_attr') }}"
        data-multipleelement="{{ 'table.admin.mutipleelement'|trans({}, 'admin.messages')|e('html_attr') }}"
        data-empty="{{ 'table.admin.empty'|trans({}, 'admin.messages')|e('html_attr') }}"
        data-count={{ pagination|length }}
    >
        <thead>
            <tr>
                <th>{{ 'bookmark.name'|trans({}, 'admin.messages') }}</th>
                <th>{{ 'bookmark.user'|trans({}, 'admin.messages') }}</th>
                <th>{{ 'bookmark.category'|trans({}, 'admin.messages') }}</th>
                <th>{{ 'workflow.state'|trans({}, 'admin.messages') }}</th>
                <th>{{ 'bookmark.workflow'|trans({}, 'admin.messages') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr data-id="{{ entity.id }}">
                <td>{{ entity.name }}</td>
                <td>{{ entity.refuser }}</td>
                <td>{{ entity.refcategory }}</td>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
                <td>
                    {{ macro_admin.workflow(entity, actions) }}
                </td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
