{% extends 'admin/bookmark/layout.html.twig' %}
{% block body %}
    {% embed "admin/table.html.twig" %}
        {% import "admin/macro.html.twig" as macro_admin %}
        {% block thead %}
            <tr>
                <th>{{ 'bookmark.name'|trans({}, 'admin.messages') }}</th>
                <th>{{ 'bookmark.user'|trans({}, 'admin.messages') }}</th>
                <th>{{ 'bookmark.category'|trans({}, 'admin.messages') }}</th>
                <th>{{ 'workflow.state'|trans({}, 'admin.messages') }}</th>
                <th>{{ 'bookmark.workflow'|trans({}, 'admin.messages') }}</th>
                <th></th>
            </tr>
        {% endblock %}
        {% block tbody %}
            {% for entity in pagination %}
                <tr data-id="{{ entity.id }}">
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.refuser }}</td>
                    <td>{{ entity.refcategory }}</td>
                    <td>
                        {% for state in workflow_marked_places(entity) %}
                            {{ state }}
                        {% endfor %}
                    </td>
                    <td>
                        {{ macro_admin.workflow(entity, actions) }}
                    </td>
                    <td>
                        {{ macro_admin.actions(entity, actions) }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
