{% extends 'admin.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>{{ 'bookmark.name'|trans({}, 'admin.messages') }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'bookmark.url'|trans({}, 'admin.messages') }}</th>
                <td>
                    <a href="{{ entity.url }}" target="_blank">
                        {{ entity.url }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>{{ 'bookmark.published'|trans({}, 'admin.messages') }}</th>
                <td>{{ entity.published|format_datetime(pattern=formatdatetime.admin) }}</td>
            </tr>
            <tr>
                <th>{{ 'bookmark.content'|trans({}, 'admin.messages') }}</th>
                <td>{{ entity.content|raw }}</td>
            </tr>
            {% set img = attachment(entity.img) %}
            {% if img is not null and img.name is not null %}
            <tr>
                <th>{{ 'bookmark.image'|trans({}, 'admin.messages') }}</th>
                <td>
                    <picture>
                        <img loading="lazy" alt="{{ 'bookmark.image'|trans({}, 'admin.messages')|e("html_attr") }}" src="{{ asset(img.name) | imagefilter('my_thumb') }}" />
                    </picture>
                </td>
            </tr>
            {% endif %}
            {% if entity.refcategory != null %}
            <tr>
                <th>{{ 'bookmark.category'|trans({}, 'admin.messages') }}</th>
                <td>
                    {% if entity.refuser.deletedAt != '' %}
                        {% set url = 'admin_category_preview' %}
                    {% else %}
                        {% set url = 'admin_category_show' %}
                    {% endif %}
                    {% set state = url|guard_route %}
                    {% if state == true %}
                        <a href="{{ path(url, {'id': entity.refcategory.id}) }}">{{ entity.refcategory }}</a>
                    {% else %}
                        {{ entity.refcategory }}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ 'bookmark.user'|trans({}, 'admin.messages') }}</th>
                <td>
                    {% if entity.refuser.deletedAt != '' %}
                        {% set url = 'admin_user_preview' %}
                    {% else %}
                        {% set url = 'admin_user_show' %}
                    {% endif %}
                    {% set state = url|guard_route %}
                    {% if state == true %}
                        <a href="{{ path(url, {'id': entity.refuser.id}) }}">{{ entity.refuser }}</a>
                    {% else %}
                        {{ entity.refuser }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'workflow.state'|trans({}, 'admin.messages') }}</th>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
