{% import "macro.html.twig" as macro_site %}
<section id="{{ paragraph|paragraph_id }}" class="{{ paragraph|paragraph_class }}">
    <h2 class="edito_title">{{ edito.title }}</h2>
    <div class="edito_date">
        {{ 'edito.infodateuser'|trans(
                {
                    '%date%': edito.published|format_datetime(pattern=formatdatetime.public),
                    '%user%': macro_site.user(edito.refuser, path('front_article_user', {'username': edito.refuser.username}))
                }
            )|raw }}
        {% set state = 'admin_edito_edit'|guard_route %}
        {% if state == true %}
            <a href="{{ path('admin_edito_edit', {'id': edito.id}) }}" target="_blank">{{ 'edito.update'|trans }}</a>
        {% endif %}
    </div>
    <div class="edito_content">
        {{ edito.content|raw }}
    </div>
</section>