{% extends 'admin/user/link_user/layout.html.twig' %}
{% block body %}
    {% embed "admin/table.html.twig" %}
        {% import "admin/macro.html.twig" as macro_admin %}
        {% block thead %}
            {% set theads = [
                {
                    'field': 'a.name', 
                    'name': 'user.link.name'|trans({}, 'admin.messages')
                },
                {
                    'field': 'a.address', 
                    'name': 'user.link.address'|trans({}, 'admin.messages')
                },
                {
                    'name': 'user.link.user'|trans({}, 'admin.messages')
                }
            ] %}
			{{ macro_admin.thead(theads, pagination, true) }}
        {% endblock %}
        {% block tbody %}
        {% for entity in pagination %}
            <tr data-id="{{ entity.id }}">
                <td>{{ entity.name }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.refuser }}</td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
