{% import "macro.html.twig" as macro_site %}
<section id="{{ paragraph_id(paragraph) }}" class="{{ paragraph_class(paragraph) }}">
	{% for post in pagination %}
		<div class="post_data">
			<h2 class="post_title">
				<a href="{{ path('front_article', {'slug': post.slug}) }}">
					{{ post.title }}
				</a>
			</h2>
			{% set img = attachment(post.img) %}
			{% if img is not null and img.name is not null %}
				<picture class="post_img">
					<img loading="lazy" alt="{{ post.title|e('html_attr') }}" src="{{ asset(img.name) | imagefilter('my_thumb') }}"/>
				</picture>
			{% endif %}
			<div class="post_date">
				{{ 'post.infodateuser'|trans(
                    {
                        '%date%': post.published|format_datetime(pattern=formatdatetime.public),
                        '%user%': macro_site.user(post.refuser, path('front_article_user', {'username': post.refuser.username}))
                    }
                )|raw }}
				{% set state = guard_route('admin_post_edit') %}
				{% if state == true %}
					<a href="{{ path('admin_post_edit', {'id': post.id}) }}" target="_blank">{{ 'post.update'|trans }}</a>
				{% endif %}
			</div>
			<div class="post_content">
				{{ post.content|raw }}
			</div>
			<div class="post_libcat">
				{% for libelle in post.libelles %}
					<a href="{{ path('front_article_libelle', {'slug' : libelle.slug}) }}" class="post_libelle">{{ libelle }}</a>
				{% endfor %}
			</div>
			<div class="post_libcat">
				{% if post.refcategory %}
					<a href="{{ path('front_article_category', {'slug': post.refcategory.slug}) }}" class="post_category">{{ post.refcategory }}</a>
				{% endif %}
			</div>
		</div>
	{% endfor %}
	{% if pagination is defined %}
		{{ knp_pagination_render(pagination) }}
	{% endif %}
</section>
