{% extends 'admin/user/layout.html.twig' %}
{% block body %}
    <table
  data-locale="fr-FR"
  data-toggle="table"
  data-search="true"
  data-show-columns="true">
        <thead>
            <tr>
                <th>Username</th>
                <th>Groupe</th>
                <th>Email</th>
                <th>Enable</th>
                <th>Adresses</th>
                <th>Liens</th>
                <th>Emails</th>
                <th>Téléphones</th>
                <th class="text-center"><i class="fas fa-cog" title="Actions"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for user in pagination %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.groupe }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.enable ? 'Yes' : 'No' }}</td>
                <td>{{ user.adresseUsers|length }}</td>
                <td>{{ user.lienUsers|length }}</td>
                <td>{{ user.emailUsers|length }}</td>
                <td>{{ user.phoneUsers|length }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>
                    <a href="{{ path('admin_user_delete', {'id': user.id}) }}" data-token="{{ csrf_token('delete' ~ user.id) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_user_new') }}">Create new</a>
{% endblock %}
