{%- import "admin/macro.html.twig" as macro_admin -%}
{%- extends 'admin/user/layout.html.twig' -%}
{%- block body -%}
    <table
        is="table-datatable"
        data-action="Actions"
        data-multiple
        data-multipleall="Tout sélectionner"
        data-multipleelement="Selection"
        data-empty="No records found"
        data-count={{ pagination|length }}
    >
        <thead>
            <tr>
                <th>Username</th>
                <th>Groupe</th>
                <th>Email</th>
                <th>Adresses</th>
                <th>Liens</th>
                <th>Emails</th>
                <th>Téléphones</th>
                <th>State</th>
                <th>Workflow</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {%- for entity in pagination -%}
            <tr data-id="{{ entity.id }}">
                <td>{{ entity.username }}</td>
                <td>{{ entity.refgroupe }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.adresseUsers|length }}</td>
                <td>{{ entity.lienUsers|length }}</td>
                <td>{{ entity.emailUsers|length }}</td>
                <td>{{ entity.phoneUsers|length }}</td>
                <td>
                    {%- for state in workflow_marked_places(entity) -%}
                        {{ state }}
                    {%- endfor -%}
                </td>
                <td>
                    {{ macro_admin.workflow(entity, actions) }}
                </td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {%- endfor -%}
        </tbody>
    </table>
{%- endblock -%}
