{% extends 'admin.html.twig' %}
{% block body %}
    {% embed "admin/table.html.twig" with {
        theads: [
            {
                'field': 'a.username',
                'name': 'user.username'|trans({}, 'admin.messages')
            },
            {
                'name': 'user.groupe'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.email',
                'name': 'user.email'|trans({}, 'admin.messages')
            },
            {
                'name': 'user.addresss'|trans({}, 'admin.messages')
            },
            {
                'name': 'user.links'|trans({}, 'admin.messages')
            },
            {
                'name': 'user.emails'|trans({}, 'admin.messages')
            },
            {
                'name': 'user.phones'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.state',
                'name': 'workflow.state'|trans({}, 'admin.messages')
            },
            {
                'name': 'user.workflow'|trans({}, 'admin.messages')
            }
        ],
        pagination: pagination,
        action: true
    } %}
        {% import "admin/macro.html.twig" as macro_admin %}
        {% block tbody %}
            {% for entity in pagination %}
                <tr data-id="{{ entity.id }}">
                    <td>{{ entity.username }}</td>
                    <td>{{ entity.refgroupe }}</td>
                    <td>{{ entity.email }}</td>
                    <td><a href="{{ path('admin_addressuser_index', {'refuser': entity.id}) }}">{{ entity.addressUsers|length }}</a></td>
                    <td><a href="{{ path('admin_linkuser_index', {'refuser': entity.id}) }}">{{ entity.linkUsers|length }}</a></td>
                    <td><a href="{{ path('admin_emailuser_index', {'refuser': entity.id}) }}">{{ entity.emailUsers|length }}</a></td>
                    <td><a href="{{ path('admin_phoneuser_index', {'refuser': entity.id}) }}">{{ entity.phoneUsers|length }}</a></td>
                    <td>
                        {% for state in workflow_marked_places(entity) %}
                            {{ state }}
                        {% endfor %}
                    </td>
                    <td>
                        {{ macro_admin.workflow(entity, actions) }}
                    </td>
                    <td>
                        {{ macro_admin.actions(entity, actions) }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
