{% extends 'admin/user/layout.html.twig' %}
{% block body %}
    <table
  data-locale="fr-FR"
  data-toggle="table"
  data-search="true"
  data-show-columns="true">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Enable</th>
                <td>{{ user.enable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    {% set adresses = user.adresseUsers %}
    <div class="row">
        {% if adresses|length !=0 %}
            <div class="col-6">
                <fieldset>
                    <legend>Adresses ({{ user.adresseUsers|length }})</legend>

                    <table>
                        <thead>
                            <tr>
                                <th>Rue</th>
                                <th>Country</th>
                                <th>Zipcode</th>
                                <th>Ville</th>
                                <th>Gps</th>
                                <th>Type</th>
                                <th>Pmr</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for adresse in adresses %}
                                <tr>
                                    <td>{{ adresse.rue }}</td>
                                    <td>
                                        <span class="flag-icon flag-icon-{{ adresse.country|lower }}"></span>
                                        {{ adresse.country|country_name('fr') }}
                                    </td>
                                    <td>{{ adresse.zipcode }}</td>
                                    <td>{{ adresse.ville }}</td>
                                    <td>{{ adresse.gps }}</td>
                                    <td>{{ adresse.type }}</td>
                                    <td>{{ adresse.pmr ? 'Yes' : 'No' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        {% endif %}
        {% set liens = user.lienUsers %}
        {% if liens|length !=0 %}
            <div class="col-6">
                <fieldset>
                    <legend>Liens ({{ user.lienUsers|length }})</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Adresse</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lien in liens %}
                                <tr>
                                    <td>{{ lien.name }}</td>
                                    <td>{{ lien.adresse }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        {% endif %}
        {% set emails = user.emailUsers %}
        {% if emails|length !=0 %}
            <div class="col-6">
                <fieldset>
                    <legend>Emails ({{ user.emailUsers|length }})</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>Adresse</th>
                                <th>Principal</th>
                                <th>Verif</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for email in emails %}
                                <tr>
                                    <td>{{ email.adresse }}</td>
                                    <td>{{ email.principal ? 'Yes' : 'No' }}</td>
                                    <td>{{ email.verif ? 'Yes' : 'No' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        {% endif %}
        {% set phones = user.phoneUsers %}
        {% if phones|length !=0 %}
            <div class="col-6">
                <fieldset>
                    <legend>Téléphones ({{ user.phoneUsers|length }})</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>Numero</th>
                                <th>Country</th>
                                <th>Type</th>
                                <th>Principal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for phone in phones %}
                                <tr>
                                    <td>{{ phone.numero }}</td>
                                    <td>
                                        <span class="flag-icon flag-icon-{{ phone.country|lower }}"></span>
                                        {{ phone.country|country_name('fr') }}
                                    </td>
                                    <td>{{ phone.type }}</td>
                                    <td>{{ phone.principal ? 'Yes' : 'No' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        {% endif %}
    </div>

    <a href="{{ path('admin_user_index') }}">back to list</a>

    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
