{% extends 'admin/user/layout.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>{{ "user.username"|trans }}</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>{{ "user.groupe"|trans }}</th>
                <td>{{ entity.refgroupe }}</td>
            </tr>
            <tr>
                <th>{{ "user.email"|trans }}</th>
                <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
            </tr>
            {% set avatar = attachment(entity.avatar) %}
            {% if avatar is not null and avatar.name is not null %}
            <tr>
                <th>{{ "user.avatar"|trans }}</th>
                <td>
                    <picture >
                        <img alt="{{ "user.avatar"|trans|e("html_attr") }}" src="{{ asset(avatar.name) | imagefilter('my_thumb') }}" />
                    </picture>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ "admin.workflow.state"|trans }}</th>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    {% set adresses = entity.adresseUsers %}
    <div class="row">
        {% if adresses|length !=0 %}
            <div class="col-6">
                <fieldset>
                    <legend>{{ "user.adresses"|trans("{%nbr%": entity.adresseUsers|length}) }}</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>{{ "user.adresse.adresse"|trans }}</th>
                                <th>{{ "user.adresse.type"|trans }}</th>
                                <th>{{ "user.adresse.pmr"|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for adresse in adresses %}
                                <tr>
                                    <td>
                                        {{ adresse.rue }}
                                        <br />
                                        {{ adresse.zipcode }} - {{ adresse.ville }}
                                        <br />
                                        <span class="flag-icon flag-icon-{{ adresse.country|lower }}"></span>
                                        {{ adresse.country|country_name('fr') }}
                                        <br />
                                        <span class="gps-icon">
                                            {{ adresse.gps }}
                                        </span>
                                    </td>
                                    <td>{{ adresse.type }}</td>
                                    <td>{{ adresse.pmr ? 'admin.state.yes'|trans : 'admin.state.no'|trans }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        {% endif %}
        {% set liens = entity.lienUsers %}
        {% if liens|length !=0 %}
            <div class="col-6">
                <fieldset>
                    <legend>{{ "user.liens"|trans("{%nbr%": entity.lienUsers|length}) }}</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>{{ "user.lien.name"|trans }}</th>
                                <th>{{ "user.lien.adresse"|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lien in liens %}
                                <tr>
                                    <td>{{ lien.name }}</td>
                                    <td><a href="{{ lien.adresse }}" target="_blank">{{ lien.adresse }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        {% endif %}
        {% set emails = entity.emailUsers %}
        {% if emails|length !=0 %}
            <div class="col-6">
                <fieldset>
                    <legend>{{ "user.emails"|trans("{%nbr%": entity.emailUsers|length}) }}</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>{{ "user.email.adresse"|trans }}</th>
                                <th>{{ "user.email.principal"|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for email in emails %}
                                <tr>
                                    <td><a href="mailto:{{ email.adresse }}">{{ email.adresse }}</a></td>
                                    <td>{{ email.principal ? 'admin.state.yes'|trans : 'admin.state.no'|trans }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        {% endif %}
        {% set phones = entity.phoneUsers %}
        {% if phones|length !=0 %}
            <div class="col-6">
                <fieldset>
                    <legend>{{ "user.telephones"|trans("{%nbr%": entity.emailUsers|length}) }}</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>{{ "user.telephone.numero"|trans }}</th>
                                <th>{{ "user.telephone.verif"|trans }}</th>
                                <th>{{ "user.telephone.country"|trans }}</th>
                                <th>{{ "user.telephone.type"|trans }}</th>
                                <th>{{ "user.telephone.principal"|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for phone in phones %}
                                <tr>
                                    <td><a href="tel:{{ phone.numero }}">{{ phone.numero }}</a></td>
                                    <td>
                                        {% set check = verifPhone(phone.country, phone.numero)  ? 'ok' : 'ko' %}
                                        <span class="check-{{ check }}"></span>
                                    </td>
                                    <td>
                                        <span class="flag-icon flag-icon-{{ phone.country|lower }}"></span>
                                        {{ phone.country|country_name('fr') }}
                                    </td>
                                    <td>{{ phone.type }}</td>
                                    <td>{{ phone.principal ? 'admin.state.yes'|trans : 'admin.state.no'|trans }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        {% endif %}
    </div>
{% endblock %}
