{% extends 'admin.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>{{ 'user.username'|trans({}, 'admin.messages') }}</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>{{ 'user.groupe'|trans({}, 'admin.messages') }}</th>
                <td>{{ entity.refgroupe }}</td>
            </tr>
            <tr>
                <th>{{ 'user.email'|trans({}, 'admin.messages') }}</th>
                <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
            </tr>
            {% set avatar = attachment(entity.avatar) %}
            {% if avatar is not null and avatar.name is not null %}
            <tr>
                <th>{{ 'user.avatar'|trans({}, 'admin.messages') }}</th>
                <td>
                    <picture>
                        <img loading="lazy" alt="{{ 'user.avatar'|trans({}, 'admin.messages')|e("html_attr") }}" src="{{ asset(avatar.name) | imagefilter('my_thumb') }}" />
                    </picture>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ 'workflow.state'|trans({}, 'admin.messages') }}</th>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    {% set addresss = entity.addressUsers %}
    <div class="row">
        {% if addresss|length !=0 %}
            <div class="col-6">
                <fieldset>
                    <legend>{{ 'user.addresss'|trans({"%nbr%": entity.addressUsers|length}, 'admin.messages') }}</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'user.address.address'|trans({}, 'admin.messages') }}</th>
                                <th>{{ 'user.address.type'|trans({}, 'admin.messages') }}</th>
                                <th>{{ 'user.address.pmr'|trans({}, 'admin.messages') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for address in addresss %}
                                <tr>
                                    <td>
                                        {{ address.street }}
                                        <br />
                                        {{ address.zipcode }} - {{ address.city }}
                                        <br />
                                        <span class="flag-icon flag-icon-{{ address.country|lower }}"></span>
                                        {{ address.country|country_name('fr') }}
                                        <br />
                                        <span class="gps-icon">
                                            {{ address.gps }}
                                        </span>
                                    </td>
                                    <td>{{ address.type }}</td>
                                    <td>{{ address.pmr ? 'state.yes'|trans({}, 'admin.messages') : 'state.no'|trans({}, 'admin.messages') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        {% endif %}
        {% set links = entity.linkUsers %}
        {% if links|length !=0 %}
            <div class="col-6">
                <fieldset>
                    <legend>{{ 'user.links'|trans({"%nbr%": entity.linkUsers|length}, 'admin.messages') }}</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'user.link.name'|trans({}, 'admin.messages') }}</th>
                                <th>{{ 'user.link.address'|trans({}, 'admin.messages') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for link in links %}
                                <tr>
                                    <td>{{ link.name }}</td>
                                    <td><a href="{{ link.address }}" target="_blank">{{ link.address }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        {% endif %}
        {% set emails = entity.emailUsers %}
        {% if emails|length !=0 %}
            <div class="col-6">
                <fieldset>
                    <legend>{{ 'user.emails'|trans({"%nbr%": entity.emailUsers|length}, 'admin.messages') }}</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'user.email.address'|trans({}, 'admin.messages') }}</th>
                                <th>{{ 'user.email.principal'|trans({}, 'admin.messages') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for email in emails %}
                                <tr>
                                    <td><a href="mailto:{{ email.address }}">{{ email.address }}</a></td>
                                    <td>{{ email.principal ? 'state.yes'|trans({}, 'admin.messages') : 'state.no'|trans({}, 'admin.messages') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        {% endif %}
        {% set phones = entity.phoneUsers %}
        {% if phones|length !=0 %}
            <div class="col-6">
                <fieldset>
                    <legend>{{ 'user.phones'|trans({"%nbr%": entity.emailUsers|length}, 'admin.messages') }}</legend>
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'user.phone.numero'|trans({}, 'admin.messages') }}</th>
                                <th>{{ 'user.phone.verif'|trans({}, 'admin.messages') }}</th>
                                <th>{{ 'user.phone.country'|trans({}, 'admin.messages') }}</th>
                                <th>{{ 'user.phone.type'|trans({}, 'admin.messages') }}</th>
                                <th>{{ 'user.phone.principal'|trans({}, 'admin.messages') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for phone in phones %}
                                <tr>
                                    <td><a href="tel:{{ phone.numero }}">{{ phone.numero }}</a></td>
                                    <td>
                                        {% set check = verif_phone(phone.country, phone.numero)  ? 'ok' : 'ko' %}
                                        <span class="check-{{ check }}"></span>
                                    </td>
                                    <td>
                                        <span class="flag-icon flag-icon-{{ phone.country|lower }}"></span>
                                        {{ phone.country|country_name('fr') }}
                                    </td>
                                    <td>{{ phone.type }}</td>
                                    <td>{{ phone.principal ? 'state.yes'|trans({}, 'admin.messages') : 'state.no'|trans({}, 'admin.messages') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        {% endif %}
    </div>
{% endblock %}
