{% extends 'admin/user/phone_user/layout.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>{{ 'user.phone.numero'|trans }}</th>
                <td><a href="tel:{{ entity.numero }}">{{ entity.numero }}</a></td>
            </tr>
            <tr>
                <th>{{ 'user.phone.verif'|trans }}</th>
                <td>
                    {% set check = verifPhone(entity.country, entity.numero)  ? 'ok' : 'ko' %}
                    <span class="check-{{ check }}"></span>
                </td>
            </tr>
            <tr>
                <th>{{ 'user.phone.country'|trans }}</th>
                <td>
                    <span class="flag-icon flag-icon-{{ entity.country|lower }}"></span>
                    {{ entity.country|country_name('fr') }}
                </td>
            </tr>
            <tr>
                <th>{{ 'user.phone.type'|trans }}</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>{{ 'user.phone.principal'|trans }}</th>
                <td>{{ entity.principal ? 'admin.state.yes'|trans : 'admin.state.no'|trans }}</td>
            </tr>
            <tr>
                <th>{{ 'user.phone.user'|trans }}</th>
                <td>
                    {% if entity.refuser.deletedAt != '' %}
                        {% set url = 'admin_user_preview' %}
                    {% else %}
                        {% set url = 'admin_user_show' %}
                    {% endif %}
                    {% set state = guard_route(url) %}
                    {% if state == true %}
                        <a href="{{ path(url, {'id': entity.refuser.id}) }}">{{ entity.refuser }}</a>
                    {% else %}
                        {{ entity.refuser }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'admin.workflow.state'|trans }}</th>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
