<section id="{{ paragraph|paragraph_id }}" class="{{ paragraph|paragraph_class }}">
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <p>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </p>
        </div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    <div class="btns">
        {{ form_row(form.remember_me) }}
        {{ form_row(form.submit) }}
    </div>
    {% set state = 'app_lost'|guard_route %}
    {% if state == true %}
        <div class="links">
            <a href="{{ path('app_lost') }}">{{ 'user.lostpassword.link'|trans }}</a>
        </div>
    {% endif %}
    {% set state = 'connect_start'|guard_route %}
    {% if state == true and oauths|length != 0 %}
        <div class="oauth">
            <div class="oauth-title">{{ 'user.login.oauth'|trans }}</div>
            <div class="oauth-btns">
            {% for oauth in oauths %}
                <a href="{{ path('connect_start', {'oauthCode': oauth.name}) }}" title="{{ oauth.name|e('html_attr') }}">
                    <i class="fab fa-{{ oauth.name }}"></i>
                    {{ oauth.name }}
                </a>
            {% endfor %}
            </div>
        </div>
    {% endif %}
    {{ form_end(form) }}
</section>
