<section id="{{ paragraph|paragraph_id }}" class="{{ paragraph|paragraph_class }}">
    {{ form_start(form) }}
    <h2 class="lostpassword_title">
        {{ 'lostpassword.form.title'|trans }}
    </h2>
    <div class="lostpassword_body">
        {{ form_row(form.value) }}
    </div>
    <div class="lostpassword_footer">
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
</section>
