{% extends 'base.html.twig' %}

{% block title %}NoteInterne{% endblock %}

{% block body %}
    <h1>NoteInterne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ note_interne.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ note_interne.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ note_interne.content }}</td>
            </tr>
            <tr>
                <th>Enable</th>
                <td>{{ note_interne.enable ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ note_interne.dateDebut ? note_interne.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ note_interne.dateFin ? note_interne.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('note_interne_index') }}">back to list</a>

    <a href="{{ path('note_interne_edit', {'id': note_interne.id}) }}">edit</a>

    {{ include('note_interne/_delete_form.html.twig') }}
{% endblock %}
