{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/user/adresse_user/layout.html.twig' %}
{% block body %}
    <table
        is="table-datatable"
        data-action="{{ "table.admin.action"|trans|e('html_attr') }}"
        data-multiple
        data-multipleall="{{ "table.admin.multipleall"|trans|e('html_attr') }}"
        data-multipleelement="{{ "table.admin.mutipleelement"|trans|e('html_attr') }}"
        data-empty="{{ "table.admin.empty"|trans|e('html_attr') }}"
        data-count={{ pagination|length }}
    >
        <thead>
            <tr>
                <th>{{ "user.adresse.rue"|trans }}</th>
                <th>{{ "user.adresse.country"|trans }}</th>
                <th>{{ "user.adresse.zipcode"|trans }}</th>
                <th>{{ "user.adresse.ville"|trans }}</th>
                <th>{{ "user.adresse.gps"|trans }}</th>
                <th>{{ "user.adresse.type"|trans }}</th>
                <th>{{ "user.adresse.pmr"|trans }}</th>
                <th>{{ "user.adresse.user"|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr data-id="{{ entity.id }}">
                <td>{{ entity.rue }}</td>
                <td>
                    <span class="flag-icon flag-icon-{{ entity.country|lower }}"></span>
                    {{ entity.country|country_name('fr') }}
                </td>
                <td>{{ entity.zipcode }}</td>
                <td>{{ entity.ville }}</td>
                <td>{{ entity.gps }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.pmr ? 'admin.state.yes'|trans : 'admin.state.no'|trans }}</td>
                <td>
                    {{ entity.refuser.username }}
                </td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
