{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/user/adresse_user/layout.html.twig' %}
{% block body %}
    <table
        is="table-datatable"
        data-action="{{ "Actions"|trans|e('html_attr') }}"
        data-multiple
        data-multipleall="{{ "Tout sélectionner"|trans|e('html_attr') }}"
        data-multipleelement="{{ "Selection"|trans|e('html_attr') }}"
        data-empty="{{ "No records found"|trans|e('html_attr') }}"
        data-count={{ pagination|length }}
    >
        <thead>
            <tr>
                <th>{{ "Rue"|trans }}</th>
                <th>{{ "Country"|trans }}</th>
                <th>{{ "Zipcode"|trans }}</th>
                <th>{{ "Ville"|trans }}</th>
                <th>{{ "Gps"|trans }}</th>
                <th>{{ "Type"|trans }}</th>
                <th>{{ "Pmr"|trans }}</th>
                <th>{{ "User"|trans }}</th>
                <th>{{ ""|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr data-id="{{ entity.id }}">
                <td>{{ entity.rue }}</td>
                <td>
                    <span class="flag-icon flag-icon-{{ entity.country|lower }}"></span>
                    {{ entity.country|country_name('fr') }}
                </td>
                <td>{{ entity.zipcode }}</td>
                <td>{{ entity.ville }}</td>
                <td>{{ entity.gps }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.pmr ? 'Yes' : 'No' }}</td>
                <td>
                    {{ entity.refuser.username }}
                </td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
