{% import "macro.html.twig" as macro_site %}
<section id="{{ paragraph|paragraph_id }}" class="{{ paragraph|paragraph_class }}">
    <h2 class="history_name">
        {{ history.name }}
        <a href="{{ path('front_history_pdf', {'slug': history.slug}) }}" target="_blank">
            pdf
        </a>
    </h2>
    <div class="history_date">
        {{ 'history.infodateuser'|trans(
            {
                '%date%': history.published|format_datetime(pattern=formatdatetime.public),
                '%user%': macro_site.user(history.refuser, path('front_history_user', {'username': history.refuser.username}))
            }
        )|raw }}
        {% set state = 'admin_history_edit'|guard_route %}
        {% if state == true %}
            <a href="{{ path('admin_history_edit', {'id': history.id}) }}" target="_blank">Modifier</a>
        {% endif %}
    </div>
    <div class="history_content">
        {{ history.summary|raw }}
    </div>
    <div class="history_chapters">
        <ul>
            {% for chapter in history.chapterspublished %}
                <li>
                    <a href="{{ path('front_history_chapter', {'history': history.slug, 'chapter': chapter.slug}) }}">
                        {{ chapter.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>