{% extends 'admin.html.twig' %}
{% block body %}
    {% embed "admin/table.html.twig" with {
        theads: [
            {
                'field': 'a.name',
                'name': 'user.groupe.name'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.code',
                'name': 'user.groupe.code'|trans({}, 'admin.messages')
            },
            {
                'name': 'user.groupe.users'|trans({}, 'admin.messages')
            }
        ],
        pagination: pagination,
        action: true
    } %}
        {% import "admin/macro.html.twig" as macro_admin %}
        {% block tbody %}
            {% for entity in pagination %}
                <tr data-id="{{ entity.id }}">
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.code }}</td>
                    <td><a href="{{ path('admin_user_index', {'refgroupe': entity.id}) }}">{{ entity.users|length }}</a></td>
                    <td>
                        {{ macro_admin.actions(entity, actions) }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
