{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/user/groupe/layout.html.twig' %}
{% block body %}
    <table
        is="table-datatable"
        data-action="{{ 'table.admin.action'|trans|e('html_attr') }}"
        data-multiple
        data-multipleall="{{ 'table.admin.multipleall'|trans|e('html_attr') }}"
        data-multipleelement="{{ 'table.admin.mutipleelement'|trans|e('html_attr') }}"
        data-empty="{{ 'table.admin.empty'|trans|e('html_attr') }}"
        data-count={{ pagination|length }}
    >
        <thead>
            <tr>
                <th>{{ 'user.groupe.name'|trans }}</th>
                <th>{{ 'user.groupe.code'|trans }}</th>
                <th>{{ 'user.groupe.users'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr data-id="{{ entity.id }}">
                <td>{{ entity.name }}</td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.users|length }}</td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
