{% extends 'admin/user/groupe/layout.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>{{ "Name"|trans }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ "Code"|trans }}</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>{{ "Users"|trans }}</th>
                <td>{{ entity.users|length }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
