{% extends 'admin/template/layout.html.twig' %}
{% block body %}
    <table
  class="table table-bordered table-hover table-striped"
  data-locale="fr-FR"
  data-toggle="table"
  data-search="true"
  data-show-columns="true">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for template in pagination %}
            <tr>
                <td>{{ template.name }}</td>
                <td>{{ template.code }}</td>
                <td>
                    <a href="{{ path('admin_template_show', {'id': template.id}) }}">show</a>
                    <a href="{{ path('admin_template_edit', {'id': template.id}) }}">edit</a>
                    <a href="{{ path('admin_template_delete', {'id': template.id}) }}" data-token="{{ csrf_token(template) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_template_new') }}">Create new</a>
{% endblock %}
