{% extends 'admin/template/layout.html.twig' %}
{% block body %}
    {% embed "admin/table.html.twig" %}
        {% import "admin/macro.html.twig" as macro_admin %}
        {% block thead %}
            <tr>
                <th>{{ 'template.name'|trans({}, 'admin.messages') }}</th>
                <th>{{ 'template.code'|trans({}, 'admin.messages') }}</th>
                <th></th>
            </tr>
        {% endblock %}
        {% block tbody %}
            {% for entity in pagination %}
                <tr data-id="{{ entity.id }}">
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.code }}</td>
                    <td>
                        {{ macro_admin.actions(entity, actions) }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
