{% extends 'admin/template/layout.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>{{ "template.name"|trans }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ "template.code"|trans }}</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>{{ "template.html"|trans }}</th>
                <td>{{ entity.html|raw }}</td>
            </tr>
            <tr>
                <th>{{ "template.text"|trans }}</th>
                <td>{{ entity.text }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
