{% extends 'admin/template/layout.html.twig' %}
{% block content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ template.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ template.code }}</td>
            </tr>
            <tr>
                <th>Html</th>
                <td>{{ template.html }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ template.text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('template_index') }}">back to list</a>

    <a href="{{ path('template_edit', {'id': template.id}) }}">edit</a>

    {{ include('admin/template/_delete_form.html.twig') }}
{% endblock %}
