{% extends 'admin/template/layout.html.twig' %}
{% block body %}
    <table
  class="table table-bordered table-hover table-striped"
  data-locale="fr-FR"
  data-toggle="table"
  data-search="true"
  data-show-columns="true">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ template.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ template.code }}</td>
            </tr>
            <tr>
                <th>Html</th>
                <td>{{ template.html|raw }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ template.text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_template_index') }}">back to list</a>

    <a href="{{ path('admin_template_edit', {'id': template.id}) }}">edit</a>

    {{ include('admin/template/_delete_form.html.twig') }}
{% endblock %}
