{% extends 'admin/lien_user/layout.html.twig' %}
{% block body %}
    <table
  data-locale="fr-FR"
  data-toggle="table"
  data-show-columns="true">
        <thead>
            <tr>
                <th>Name</th>
                <th>Adresse</th>
                <th>User</th>
                <th class="text-center"><i class="BtnAdminTableAction" title="Actions"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for lien_user in pagination %}
            <tr>
                <td>{{ lien_user.name }}</td>
                <td>{{ lien_user.adresse }}</td>
                <td>{{ lien_user.refuser }}</td>
                <td>
                    <a href="{{ path('admin_lienuser_show', {'id': lien_user.id}) }}">show</a>
                    <a href="{{ path('admin_lienuser_edit', {'id': lien_user.id}) }}">edit</a>
                    <a href="{{ path('admin_lienuser_delete', {'id': lien_user.id}) }}" data-token="{{ csrf_token('delete' ~ lien_user.id) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
