{% extends 'admin/lien_user/layout.html.twig' %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lien_user in pagination %}
            <tr>
                <td>{{ lien_user.name }}</td>
                <td>{{ lien_user.adresse }}</td>
                <td>
                    <a href="{{ path('lien_user_show', {'id': lien_user.id}) }}">show</a>
                    <a href="{{ path('lien_user_edit', {'id': lien_user.id}) }}">edit</a>
                    <a href="#">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lien_user_new') }}">Create new</a>
{% endblock %}
