{% extends 'admin/lien_user/layout.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td><a href="{{ entity.adresse }}" target="_blank">{{ entity.adresse }}</a></td>
            </tr>
            <tr>
                <th>User</th>
                <td>
                    {% set state = guard_route('admin_user_show') %}
                    {% if state == true %}
                        <a href="{{ path('admin_user_show', {'id': entity.refuser.id}) }}">{{ entity.refuser }}</a>
                    {% else %}
                        {{ entity.refuser }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
