{% extends 'admin/lien_user/layout.html.twig' %}
{% block body %}
    <table
  data-locale="fr-FR"
  data-toggle="table"
  data-show-columns="true">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td><a href="{{ entity.adresse }}" target="_blank">{{ entity.adresse }}</a></td>
            </tr>
            <tr>
                <th>User</th>
                <td><a href="{{ path('admin_user_show', {'id': entity.refuser.id}) }}">{{ entity.refuser }}</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
