{% extends 'admin/lien_user/layout.html.twig' %}
{% block body %}
    <table
  class="table table-bordered table-hover table-striped"
  data-locale="fr-FR"
  data-toggle="table"
  data-search="true"
  data-show-columns="true">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ lien_user.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ lien_user.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_lienuser_index') }}">back to list</a>

    <a href="{{ path('admin_lienuser_edit', {'id': lien_user.id}) }}">edit</a>

    {{ include('admin/lien_user/_delete_form.html.twig') }}
{% endblock %}
