<section>
    <div class="home_content">
        {% for post in posts %}
            <div class="post_data">
                <h2 class="post_title">{{ post.title }}</h2>
                <div class="post_date">{{ post.created|date }} by
                    <a href="#">{{ post.refuser }}</a>
                </div>
                <div class="post_content">
                    {{ post.content|raw }}
                    <div class="post_more">
                        <a href="{{ post.slug }}">More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <aside>
        <div class="aside-lists">
            <div class="aside-list">
                <h4>Archives</h4>
                <ol>
                    <li>
                        <a href="#">March 2014</a>
                    </li>
                    <li>
                        <a href="#">February 2014</a>
                    </li>
                    <li>
                        <a href="#">January 2014</a>
                    </li>
                    <li>
                        <a href="#">December 2013</a>
                    </li>
                    <li>
                        <a href="#">November 2013</a>
                    </li>
                    <li>
                        <a href="#">October 2013</a>
                    </li>
                    <li>
                        <a href="#">September 2013</a>
                    </li>
                    <li>
                        <a href="#">August 2013</a>
                    </li>
                    <li>
                        <a href="#">July 2013</a>
                    </li>
                    <li>
                        <a href="#">June 2013</a>
                    </li>
                    <li>
                        <a href="#">May 2013</a>
                    </li>
                    <li>
                        <a href="#">April 2013</a>
                    </li>
                </ol>
            </div>
            <div class="aside-list">
                <h4>Elsewhere</h4>
                <ol>
                    <li>
                        <a href="#">GitHub</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                </ol>
            </div>
        </div>
    </aside>
</section>
