<table is="guard-route">
    <thead>
        <tr>
            <th rowspan=2>
                Route
            </th>
            <th rowspan=2>
                Groupe {{ user.groupe.name }}
            </th>
            <th>
                {{ user.username }}
            </th>
        </tr>
        <tr>
            <th>
                <guard-routeuser
                    data-state=0
                    data-token="{{ csrf_token('guard') }}"
                ></guard-routeuser>
            </th>
        </tr>
    </thead>
    <tbody>
    {% for route in routes %}
        <tr>
            <td>
                {{ route.name }}
            </td>
            <td>
                <guard-refgroup data-route="{{ route.name|e }}"></guard-refgroup>
            </td>
            <td>
                <guard-routesetuser
                    data-state=0
                    data-route="{{ route.name|e }}"
                    data-token="{{ csrf_token('guard') }}"
                ></guard-routesetuser>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ groups|length+2 }}" class="text-center">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>