{% set state1 = 'api_guard_route'|guard_route %}
{% set state2 = 'api_guard_routeuser'|guard_route %}
{% set state3 = 'api_guard_routesetuser'|guard_route %}
{% set state = state1 and state2 and state3 %}
{% if state1 == false %}
    {{ 'guard.lost'|trans({}, 'admin.messages') }}
{% else %}
    <table is="guard-route" data-url="{{ path('api_guard_route', {'user' : user.id}) }}" data-refresh=0>
        <thead>
            <tr>
                <th rowspan=2>
                    {{ 'guard.route'|trans({}, 'admin.messages') }}
                </th>
                <th rowspan=2>
                    {{ 'guard.groupe'|trans({"%name%": user.refgroupe.name}, 'admin.messages') }}
                </th>
                <th>
                    {{ user.username }}
                </th>
            </tr>
            <tr>
                <th>
                    {% embed "embed/guard/changeroute.html.twig" with {
                        state: 0,
                        url: path('api_guard_routeuser', {'user' : user.id}),
                        token: csrf_token('guard')
                    } %}{% endembed %}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for route in routes %}
            <tr>
                <td>
                    {{ route.name }}
                </td>
                <td>
                    {% embed "embed/guard/refgrouproute.html.twig" with {
                        state: 0,
                        group: user.refgroupe.code|e('html_attr'),
                        route: route.name|e('html_attr'),
                    } %}{% endembed %}
                </td>
                <td>
                    {% embed "embed/guard/setroute.html.twig" with {
                        state: 0,
                        route: route.name|e('html_attr'),
                        url: path('api_guard_routesetuser', {'user' : user.id, 'route': route.id}),
                        token: csrf_token('guard')
                    } %}{% endembed %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">{{ 'norecord'|trans({}, 'admin.messages') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}