{% set state1 = 'api_guard_workflow'|guard_route %}
{% set state2 = 'api_guard_workflowuser'|guard_route %}
{% set state3 = 'api_guard_workflowsetuser'|guard_route %}
{% set state = state1 and state2 and state3 %}
{% if state1 == false %}
    {{ 'guard.lost'|trans({}, 'admin.messages') }}
{% else %}
    <table is="guard-workflow" data-url="{{ path('api_guard_workflow', {'user' : user.id}) }}" data-refresh=0>
        <thead>
            <tr>
                <th rowspan=2>
                    {{ 'guard.entite'|trans({}, 'admin.messages') }}
                </th>
                <th rowspan=2>
                    {{ 'guard.transition'|trans({}, 'admin.messages') }}
                </th>
                <th rowspan=2>
                    {{ 'guard.groupe'|trans({"%name%": user.refgroupe.name}, 'admin.messages') }}
                </th>
                <th>
                    {{ user.username }}
                </th>
            </tr>
            <tr>
                <th>
                    {% embed "embed/guard/changeworkflow.html.twig" with {
                        state: 0,
                        url: path('api_guard_workflowuser', {'user' : group.id}),
                        token: csrf_token('guard')
                    } %}{% endembed %}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for workflow in workflows %}
            <tr>
                <td>
                    {{ workflow.entity }}
                </td>
                <td>
                    {{ workflow.transition }}
                </td>
                <td>
                    {% embed "embed/guard/refgroupworkflow.html.twig" with {
                        state: 0,
                        group: user.refgroupe.code|e('html_attr'),
                        entity: workflow.entity|e('html_attr'),
                        transition: workflow.transition|e('html_attr')
                    } %}{% endembed %}
                </td>
                <td>
                    {% embed "embed/guard/setworkflow.html.twig" with {
                        state: 0,
                        entity: workflow.entity|e('html_attr'),
                        transition: workflow.transition|e('html_attr'),
                        url: path('api_guard_workflowsetuser', {'user' : user.id, 'workflow' : workflow.id}),
                        token: csrf_token('guard')
                    } %}{% endembed %}
                </td>
            </tr>
        {% else %}
                <tr>
                    <td colspan="4" class="text-center">{{ 'norecord'|trans({}, 'admin.messages') }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}