<table is="guard-workflow" data-url="{{ path('api_guard_route', {'user' : user.id}) }}">
    <thead>
        <tr>
            <th rowspan=2>
                Entité
            </th>
            <th rowspan=2>
                Transition
            </th>
            <th rowspan=2>
                Groupe {{ user.groupe.name }}
            </th>
            <th>
                {{ user.username }}
            </th>
        </tr>
        <tr>
            <th>
                <guard-workflowuser
                    data-state=0
                    data-token="{{ csrf_token('guard') }}"
                    data-url="{{ path('api_guard_workflowuser', {'user' : user.id}) }}"
                ></guard-workflowuser>
            </th>
        </tr>
    </thead>
    <tbody>
    {% for workflow in workflows %}
        <tr>
            <td>
                {{ workflow.entity }}
            </td>
            <td>
                {{ workflow.transition }}
            </td>
            <td>
                <guard-refgroup
                    data-entity="{{ workflow.entity|e }}"
                    data-transition="{{ workflow.transition|e }}"
                ></guard-refgroup>
            </td>
            <td>
                <guard-workflowsetuser
                    data-state=0
                    data-entity="{{ workflow.entity|e }}"
                    data-transition="{{ workflow.transition|e }}"
                    data-token="{{ csrf_token('guard') }}"
                    data-url="{{ path('api_guard_workflowsetuser', {'user' : user.id, 'entity' : workflow.entity, 'transition': workflow.transition}) }}"
                ></guard-workflowsetuser>
            </td>
        </tr>
    {% else %}
            <tr>
                <td colspan="4" class="text-center">no records found</td>
            </tr>
    {% endfor %}
    </tbody>
</table>