{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/note_interne/layout.html.twig' %}
{% block body %}
    <table is="table-datatable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>User</th>
                <th><i title="Actions"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>{{ entity.dateDebut ? entity.dateDebut|format_datetime('full', 'full', locale='fr') : '' }}</td>
                <td>{{ entity.dateFin ? entity.dateFin|format_datetime('full', 'full', locale='fr') : '' }}</td>
                <td>{{ entity.refuser }}</td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="text-center">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
