{% extends 'admin/note_interne/layout.html.twig' %}
{% block body %}
    {% embed "admin/table.html.twig" %}
        {% import "admin/macro.html.twig" as macro_admin %}
        {% block thead %}
            <tr>
                <th>{{ 'noteinterne.title'|trans({}, 'admin.messages') }}</th>
                <th>{{ 'noteinterne.date_debut'|trans({}, 'admin.messages') }}</th>
                <th>{{ 'noteinterne.date_fin'|trans({}, 'admin.messages') }}</th>
                <th>{{ 'noteinterne.user'|trans({}, 'admin.messages') }}</th>
                <th>{{ 'workflow.state'|trans({}, 'admin.messages') }}</th>
                <th>{{ 'noteinterne.workflow'|trans({}, 'admin.messages') }}</th>
                <th></th>
            </tr>
        {% endblock %}
        {% block tbody %}
            {% for entity in pagination %}
                <tr data-id="{{ entity.id }}">
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.dateDebut ? entity.dateDebut|format_datetime(pattern=formatdatetime.admin) : '' }}</td>
                    <td>{{ entity.dateFin ? entity.dateFin|format_datetime(pattern=formatdatetime.admin) : '' }}</td>
                    <td>{{ entity.refuser }}</td>
                    <td>
                        {% for state in workflow_marked_places(entity) %}
                            {{ state }}
                        {% endfor %}
                    </td>
                    <td>
                        {{ macro_admin.workflow(entity, actions) }}
                    </td>
                    <td>
                        {{ macro_admin.actions(entity, actions) }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
