{% extends 'admin/note_interne/layout.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>{{ 'noteinterne.title'|trans }}</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>{{ 'noteinterne.content'|trans }}</th>
                <td>{{ entity.content|raw }}</td>
            </tr>
            <tr>
                <th>{{ 'noteinterne.date_debut'|trans }}</th>
                <td>{{ entity.dateDebut ? entity.dateDebut|format_datetime(pattern=formatdatetime.admin) : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'noteinterne.date_fin'|trans }}</th>
                <td>{{ entity.dateFin ? entity.dateFin|format_datetime(pattern=formatdatetime.admin) : '' }}</td>
            </tr>
            {% set fond = attachment(entity.fond) %}
            {% if fond is not null and fond.name is not null %}
            <tr>
                <th>{{ 'noteinterne.fond'|trans }}</th>
                <td>
                    <picture >
                        <img alt="{{ 'noteinterne.fond'|trans|e("html_attr") }}" src="{{ asset(fond.name) | imagefilter('my_thumb') }}" />
                    </picture>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ 'noteinterne.user'|trans }}</th>
                <td>
                    {% if entity.refuser.deletedAt != '' %}
                        {% set url = 'admin_user_preview' %}
                    {% else %}
                        {% set url = 'admin_user_show' %}
                    {% endif %}
                    {% set state = guard_route(url) %}
                    {% if state == true %}
                        <a href="{{ path(url, {'id': entity.refuser.id}) }}">{{ entity.refuser }}</a>
                    {% else %}
                        {{ entity.refuser }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'admin.workflow.state'|trans }}</th>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
