{% if configparagraphs.types|length != 0 %}
<fieldset>
  <div id="paragraph-list">
    <ul class="list-group" id="paragraphs-list">
        {% for row in paragraphs %}
            {% set id = random() %}
            <li class="list-group-item" data-id="{{ row.id }}">
            <div class="d-flex">
                <div class="p-2">
                <i class="fas fa-arrows-alt"></i>
                <input type="hidden" value="{{ row.position }}" id="paragraphs_{{ row.id }}" class="paragraph_input" name="paragraphs[{{ row.id }}]"/>
                </div>
                {% if urledit != '' %}
                    <div class="p-2">
                        <a href="{{ urledit }}" class="paragraph_show" target="iframe_paragaph" data-bs-toggle="modal" data-bs-target="#paragrapheModal">
                            {{ types[row.type] }}
                        </a>
                    </div>
                {% endif %}
                {% if urldelete != '' %}
                    <div class="ms-auto p-2">
                        <a class="btn btn-danger btn-sm" href="{{ urldelete }}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
            </li>
        {% endfor %}
        </ul>
  </div>
  {% if addurl != '' %}
    <select class="form-select" data-add="{{ addurl }}" is="select-paragraph">
        <option value="">Ajouter paragraphe</option>
        {% for row in configparagraphs.default %}
        <option value="{{ row }}">{{ configparagraphs.types[row] }}</option>
        {% endfor %}
    </select>
    {% endif %}
</fieldset>
{% endif %}
