<ul class="list-group" id="paragraphs-list">
    {% for row in paragraphs %}
        {% set id = random() %}
        <li class="list-group-item" data-id="{{ row.id }}">
        <div class="d-flex">
            <div class="p-2">
            <i class="fas fa-arrows-alt"></i>
            <input type="hidden" value="{{ row.position }}" id="paragraphs_{{ row.id }}" class="paragraph_input" name="paragraphs[{{ row.id }}]"/>
            </div>
            <div class="p-2">
                {% if urledit != '' %}
                    <a href="{{ path(urledit, {'id': row.id}) }}" class="paragraph_show" target="iframe_paragaph" data-bs-toggle="modal" data-bs-target="#paragrapheModal">
                {% endif %}
                {{ row.type|paragraph_name }}
                {% if urledit != '' %}
                    </a>
                {% endif %}
            </div>
            {% if urldelete != '' %}
                <div class="ms-auto p-2">
                    <a class="btn btn-danger btn-sm" href="{{ path(urldelete, {'id': row.id}) }}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            {% endif %}
        </div>
        </li>
    {% endfor %}
    </ul>