{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/email_user/layout.html.twig' %}
{% block body %}
    <table is="table-datatable">
        <thead>
            <tr>
                <th>Adresse</th>
                <th>Principal</th>
                <th>Verif</th>
                <th>User</th>
                <th class="text-center" data-events="operateEvents"><i class="BtnAdminTableAction" title="Actions"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.adresse }}</td>
                <td>{{ entity.principal ? 'Yes' : 'No' }}</td>
                <td>{{ entity.verif ? 'Yes' : 'No' }}</td>
                <td>{{ entity.refuser }}</td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
