{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin/email_user/layout.html.twig' %}
{% block body %}
    <table is="table-datatable">
        <thead>
            <tr>
                <th>Adresse</th>
                <th>Principal</th>
                <th>User</th>
                <th>State</th>
                <th><i title="Actions"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.adresse }}</td>
                <td>{{ entity.principal ? 'Yes' : 'No' }}</td>
                <td>{{ entity.refuser }}</td>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
                <td>
                    {{ macro_admin.actions(entity, actions) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
