{% extends 'admin/email_user/layout.html.twig' %}
{% block body %}
    <table
  class="table table-bordered table-hover table-striped"
  data-locale="fr-FR"
  data-toggle="table"
  data-search="true"
  data-show-columns="true">
        <thead>
            <tr>
                <th>Adresse</th>
                <th>Principal</th>
                <th>Verif</th>
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for email_user in pagination %}
            <tr>
                <td>{{ email_user.adresse }}</td>
                <td>{{ email_user.principal ? 'Yes' : 'No' }}</td>
                <td>{{ email_user.verif ? 'Yes' : 'No' }}</td>
                <td>{{ email_user.refuser }}</td>
                <td>
                    <a href="{{ path('admin_emailuser_show', {'id': email_user.id}) }}">show</a>
                    <a href="{{ path('admin_emailuser_edit', {'id': email_user.id}) }}">edit</a>
                    <a href="{{ path('admin_emailuser_delete', {'id': email_user.id}) }}" data-token="{{ csrf_token(email_user) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_emailuser_new') }}">Create new</a>
{% endblock %}
