{% extends 'admin/email_user/layout.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Adresse</th>
                <td><a href="mailto:{{ entity.adresse }}">{{ entity.adresse }}</a></td>
            </tr>
            <tr>
                <th>Principal</th>
                <td>{{ entity.principal ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Verif</th>
                <td>{{ entity.verif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td><a href="{{ path('admin_user_show', {'id': entity.refuser.id}) }}">{{ entity.refuser }}</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
