{% extends 'admin/adresse_user/layout.html.twig' %}
{% block body %}
    <table
  data-toggle="table"
  data-search="true"
  data-show-columns="true">
        <thead>
            <tr>
                <th>Rue</th>
                <th>Country</th>
                <th>Zipcode</th>
                <th>Ville</th>
                <th>Gps</th>
                <th>Type</th>
                <th>Pmr</th>
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse_user in pagination %}
            <tr>
                <td>{{ adresse_user.rue }}</td>
                <td>{{ adresse_user.country|country_name('fr') }}</td>
                <td>{{ adresse_user.zipcode }}</td>
                <td>{{ adresse_user.ville }}</td>
                <td>{{ adresse_user.gps }}</td>
                <td>{{ adresse_user.type }}</td>
                <td>{{ adresse_user.pmr ? 'Yes' : 'No' }}</td>
                <td>{{ adresse_user.refuser }}</td>
                <td>
                    <a href="{{ path('admin_adresseuser_show', {'id': adresse_user.id}) }}">show</a>
                    <a href="{{ path('admin_adresseuser_edit', {'id': adresse_user.id}) }}">edit</a>
                    <a href="#">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_adresseuser_new') }}">Create new</a>
{% endblock %}
