{%- extends 'admin/adresse_user/layout.html.twig' -%}
{%- block body -%}
    <table>
        <tbody>
            <tr>
                <th>Rue</th>
                <td>{{ entity.rue }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>
                    <span class="flag-icon flag-icon-{{ entity.country|lower }}"></span>
                    {{ entity.country|country_name('fr') }}
                </td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ entity.zipcode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ entity.ville }}</td>
            </tr>
            <tr>
                <th>Gps</th>
                <td>
                    <span class="GpsIcon">
                        {{ entity.gps }}
                    </span>
                </td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Pmr</th>
                <td>{{ entity.pmr ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>
                    {%- if entity.refuser.deletedAt != '' -%}
                        {%- set url = 'admin_user_preview' -%}
                    {%- else -%}
                        {%- set url = 'admin_user_show' -%}
                    {%- endif -%}
                    {%- set state = guard_route(url) -%}
                    {%- if state == true -%}
                        <a href="{{ path(url, {'id': entity.refuser.id}) }}">{{ entity.refuser }}</a>
                    {%- else -%}
                        {{ entity.refuser }}
                    {%- endif -%}
                </td>
            </tr>
        </tbody>
    </table>
{%- endblock -%}
