<section id="{{ paragraph_id(paragraph) }}" class="{{ paragraph_class(paragraph) }}{% if paragraph.leftimage %} leftimage{% endif %}">
    <div>
        {{ paragraph.content|raw }}
    </div>
    <div>
        <img src="{{ attachment | imagefilter('paragraph_image') }}" alt="{{ paragraph.title|e('html_attr') }}" />
    </div>
</section>