<section id="{{ paragraph|paragraph_id }}" class="{{ paragraph|paragraph_class }}{% if paragraph.leftimage %} leftimage{% endif %}">
    <div>
        {{ paragraph.content|raw }}
    </div>
    <div>
        <img loading="lazy" src="{{ attachment | imagefilter('paragraph_image') }}" alt="{{ paragraph.title|e('html_attr') }}" />
    </div>
</section>