{% if btnadmin|length !=0 %}
<div class="list-btn-admin" role="group">
    {% for btn in btnadmin %}
        {% if btn.attr.is is defined %}
            {% set btnname = btn.attr.is %}
        {% else %}
            {% set btnname = 'link-btnadmin' %}
        {% endif %}
        <{{ btnname }}
            {%  for attrname, attrvalue in btn.attr|sort %}
                {% if attrname != 'is' %}
                    {{- " " -}}
                    {%  if attrvalue is same as(true) %}
                        {{- attrname }}="{{ attrname|e('html_attr') }}"
                    {%  elseif attrvalue is not same as(false) %}
                        {{- attrname }}="{{ attrvalue|e('html_attr') }}"
                    {%  endif %}
                {% endif %}
            {%  endfor %}
            {% if btn.icon is defined %}
                icon="{{ btn.icon }}"
            {% endif %}
            text="{{ btn.text|e('html_attr') }}"
        />
    {% endfor %}
</div>
{% endif %}
