{% extends 'admin.html.twig' %}
{% block body %}
	<div class="row">
		{% for memo in memos %}
			<div class="col-6">
				<div class="card">
					{% set img = attachment(memo.fond) %}
					{% if img is not null and img.name is not null %}
						<picture class="memo_img">
							<img alt="{{ memo.title|e('html_attr') }}" src="{{ asset(img.name) | imagefilter('my_thumb') }}"/>
						</picture>
					{% endif %}
					<div class="card-body">
						<h2 class="card-title">
							{{ memo.title }}
							{{ 'memo.infodateuser'|trans(
                    {
                        '%date%': memo.datestart|format_datetime(pattern=formatdatetime.admin),
                        '%user%': memo.refuser
                    },
                    'admin.messages'
                )}}
						</h2>
						<div class="card-text">
							{{ memo.content|raw }}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
