{% extends 'admin.html.twig' %}
{% block body %}
    <div>
        <p>{{ "Vous êtes sur la page qui vous permet de retrouver les différentes routes permettant de parametrer les connexions Oauth."|trans }}</p>
        <p>{{ "Pour chaque service proposé ci-dessous, merci de récupérer l'<b>identifiant</b> ainsi que la <b>clef secrète</b>."|trans }}</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>{{ "Service"|trans }}</th>
                <th>{{ "Url"|trans }}</th>
                <th>{{ "Url à indiquer"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for service, data in types %}
                {% if data.config is defined %}
                <tr>
                    <td>
                        {{ service }}
                    </td>
                    <td>
                        <a href="{{ data.config }}">{{ "Y accéder"|trans }}</a>
                    </td>
                    <td>
                        {{ "%url%/oauth/check/%service%"|trans({"%url%": config['site_url'], "%service%": service}) }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
