{% extends 'admin.html.twig' %}
{% block body %}
    <div>
        <p>{{ 'oauth.message'|trans({}, 'admin.messages')|raw }}</p>
    </div>
    {% embed "admin/table.html.twig" with {
        theads: [
            {
                'name': 'oauth.service'|trans({}, 'admin.messages')
            },
            {
                'name': 'oauth.url'|trans({}, 'admin.messages')
            },
            {
                'name': 'oauth.urltoshare'|trans({}, 'admin.messages')
            }
        ],
        notajax: false
    } %}
        {% block tbody %}
            {% for service, data in types %}
                {% if data.config is defined %}
                <tr>
                    <td>
                        {{ service }}
                    </td>
                    <td>
                        <a href="{{ data.config }}">{{ 'oauth.go'|trans({}, 'admin.messages') }}</a>
                    </td>
                    <td>
                        {{ "%url%/oauth/check/%service%"|replace({"%url%": config['site_url'], "%service%": service}) }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
