{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin.html.twig' %}
{% block body %}
	{{ form_start(form) }}
	{{ form_row(form['site_title']) }}
	{{ form_row(form['title_format']) }}
	{{ form_row(form['robotstxt']) }}
	{{ form_row(form['languagedefault']) }}
	{{ form_row(form['site_no-reply']) }}
	{{ form_row(form['site_url']) }}
	{{ form_row(form['language']) }}
	{{ form_row(form['site_copyright']) }}
	{{ form_row(form['generator']) }}
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link active" id="notification-tab" data-bs-toggle="tab" href="#notification" role="tab" aria-controls="notification" aria-selected="true">{{ 'form.param.notification'|trans({}, 'admin.messages') }}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="datetime-tab" data-bs-toggle="tab" href="#datetime" role="tab" aria-controls="datetime" aria-selected="false">{{ 'form.param.datetime'|trans({}, 'admin.messages') }}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="oauth-tab" data-bs-toggle="tab" href="#oauth" role="tab" aria-controls="oauth" aria-selected="false">{{ 'form.param.oauth'|trans({}, 'admin.messages') }}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="tac-tab" data-bs-toggle="tab" href="#tac" role="tab" aria-controls="tac" aria-selected="false">{{ 'form.param.tarteaucitron'|trans({}, 'admin.messages') }}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="meta-tab" data-bs-toggle="tab" href="#meta" role="tab" aria-controls="meta" aria-selected="false">{{ 'form.param.meta'|trans({}, 'admin.messages') }}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="disclaimer-tab" data-bs-toggle="tab" href="#disclaimer" role="tab" aria-controls="disclaimer" aria-selected="false">{{ 'form.param.disclaimer'|trans({}, 'admin.messages') }}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="image-tab" data-bs-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="false">{{ 'form.param.image'|trans({}, 'admin.messages') }}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="favicon-tab" data-bs-toggle="tab" href="#favicon" role="tab" aria-controls="favicon" aria-selected="false">{{ 'form.param.favicon'|trans({}, 'admin.messages') }}</a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="notification" role="tabpanel" aria-labelledby="notification-tab">
			{{ form_row(form['notification']) }}
		</div>
		<div class="tab-pane fade" id="datetime" role="tabpanel" aria-labelledby="datetime-tab">
			{{ form_row(form['format_datetime']) }}
		</div>
		<div class="tab-pane fade" id="oauth" role="tabpanel" aria-labelledby="oauth-tab">
			{{ form_row(form['oauth']) }}
		</div>
		<div class="tab-pane fade" id="tac" role="tabpanel" aria-labelledby="tac-tab">
			{{ form_row(form['tarteaucitron']) }}
		</div>
		<div class="tab-pane fade" id="meta" role="tabpanel" aria-labelledby="meta-tab">
			{{ form_row(form['meta']) }}
		</div>
		<div class="tab-pane fade" id="disclaimer" role="tabpanel" aria-labelledby="disclaimer-tab">
			{{ form_row(form['disclaimer']) }}
		</div>
		<div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
            {{ macro_admin.form_img(
                images['image'],
                images['image'],
                "admin.form.param.image",
                path('api_attachment_image')
            ) }}
            {{ form_row(form['image']) }}
		</div>
		<div class="tab-pane fade" id="favicon" role="tabpanel" aria-labelledby="favicon-tab">
            {{ macro_admin.form_img(
                images['favicon'],
                images['favicon'],
                "admin.form.param.favicon",
                path('api_attachment_favicon')
            ) }}
            {{ form_row(form['favicon']) }}
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
