{% import "admin/macro.html.twig" as macro_admin %}
{% extends 'admin.html.twig' %}
{% block body %}
	{{ form_start(form) }}
	{{ form_row(form.username) }}
	{{ form_row(form.plainPassword) }}
    {{ form_row(form.email) }}
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link active" id="emails-tab" data-bs-toggle="tab" href="#emails" role="tab" aria-controls="emails" aria-selected="true">{{ 'form.profil.emails'|trans({}, 'admin.messages') }}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="phones-tab" data-bs-toggle="tab" href="#phones" role="tab" aria-controls="phones" aria-selected="false">{{ 'form.profil.phones'|trans({}, 'admin.messages') }}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">{{ 'form.profil.address'|trans({}, 'admin.messages') }}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="links-tab" data-bs-toggle="tab" href="#links" role="tab" aria-controls="links" aria-selected="false">{{ 'form.profil.links'|trans({}, 'admin.messages') }}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="avatar-tab" data-bs-toggle="tab" href="#avatar" role="tab" aria-controls="avatar" aria-selected="false">{{ 'form.profil.avatar'|trans({}, 'admin.messages') }}</a>
		</li>
	    {% if entity.oauthconnectusers|length != 0 or oauthActivated|length != 0 %}
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="oauth-tab" data-bs-toggle="tab" href="#oauth" role="tab" aria-controls="oauth" aria-selected="false">{{ 'form.profil.oauth'|trans({}, 'admin.messages') }}</a>
		</li>
        {% endif %}
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="emails" role="tabpanel" aria-labelledby="emails-tab">
			{{ form_row(form.emailUsers) }}
		</div>
		<div class="tab-pane fade" id="phones" role="tabpanel" aria-labelledby="phones-tab">
			{{ form_row(form.phoneUsers) }}
		</div>
		<div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
			{{ form_row(form.addressUsers) }}
		</div>
		<div class="tab-pane fade" id="links" role="tabpanel" aria-labelledby="links-tab">
			{{ form_row(form.linkUsers) }}
		</div>
		<div class="tab-pane fade" id="avatar" role="tabpanel" aria-labelledby="avatar-tab">
			{{ form_row(form.file) }}
		</div>
	    {% if entity.oauthconnectusers|length != 0 or oauthActivated|length != 0 %}
		<div class="tab-pane fade" id="oauth" role="tabpanel" aria-labelledby="oauth-tab">
            <div class="row">
                {% set state = 'connect_lost'|guard_route %}
                {% if state == true and entity.oauthconnectusers|length != 0 %}
                    <div class="col-12">
                        <fieldset>
                            <legend>{{ 'user.oauth.lost'|trans({}, 'admin.messages') }}</legend>
                            <div class="row">
                                {% for oauth in entity.oauthconnectusers %}
                                    <div class="col-3">
                                        <a href="{{ path('connect_lost', {'oauthCode': oauth.name}) }}" title="{{ oauth.name|e('html_attr') }}">
                                            <i class="fab fa-{{ oauth.name }}"></i>
                                            {{ oauth.name }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                {% endif %}
                {% set state = 'connect_start'|guard_route %}
                {% if state == true and oauthActivated|length != 0 %}
                    <div class="col-12">
                        <fieldset>
                            <legend>{{ 'user.oauth.associer'|trans({}, 'admin.messages') }}</legend>
                            <div class="row">
                                {% for oauth in oauthActivated %}
                                    <div class="col-3">
                                        <a href="{{ path('connect_start', {'oauthCode': oauth.type, 'link': 1}) }}" title="{{ oauth.type|e('html_attr') }}">
                                            <i class="fab fa-{{ oauth.type }}"></i>
                                            {{ oauth.type }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                {% endif %}
		    </div>
        </div>
        {% endif %}
	</div>
	{{ form_end(form) }}
{% endblock %}
