{% import "modal.html.twig" as modal %}
{% import "modal.html.twig" as modal %}
{% extends 'admin.html.twig' %}
{% block body %}
    <table
        is="table-datatable"
        data-action="Actions"
        data-multiple
        data-multipleall="Tout sélectionner"
        data-multipleelement="Selection"
    >
        <thead>
            <tr>
                <th>Entité</th>
                <th>Count</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for data in trash %}
            <tr data-id="{{ data.name }}">
                <td>
                    {{ data.entity }}
                </td>
                <td>
                    {{ data.total }}
                </td>
                <td>
                    <link-trash
                        href="{{ path(data.properties.url) }}"
                        title="Aller sur cette corbeille"
                    ></link-trash>
                    <link-empty
                        data-redirect="{{ path(app.request.attributes.get('_route')) }}"
                        data-url="{{ path('api_action_empty', {'entity': data.name}) }}"
                        data-token="{{ data.token }}"
                        title="Vider"
                    ></link-empty>
                </td>
            </tr>
        {% else %}
            no records found
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block modal %}
    {{ parent() }}
    {{ modal.empties() }}
    {{ modal.emptyall() }}
{% endblock %}
