{% extends 'admin.html.twig' %}
{% block body %}
    {% embed "admin/table.html.twig" with {
        theads: [
            {
                'name': 'trash.entite'|trans({}, 'admin.messages')
            },
            {
                'name': 'trash.count'|trans({}, 'admin.messages')
            }
        ],
        action: true
    } %}
        {% block tbody %}
            {% for data in trash %}
                <tr data-id="{{ data.name|e('html_attr') }}">
                    <td>
                        {{ data.entity }}
                    </td>
                    <td>
                        {{ data.total }}
                    </td>
                    <td>
                        {% set state = data.properties.url|guard_route %}
                        {% if state == true %}
                        <link-trash
                            href="{{ path(data.properties.url) }}"
                            title="{{ 'trash.go'|trans({}, 'admin.messages') }}"
                        />
                        {% endif %}
                        {% set state = 'api_action_empty'|guard_route %}
                        {% if state == true %}
                            <link-empty
                                data-redirect="{{ path(app.request.attributes.get('_route')) }}"
                                data-url="{{ path('api_action_empty', {'entity': data.name}) }}"
                                data-token="{{ data.token }}"
                                data-title="{{ 'trash.empty'|trans({}, 'admin.messages')|e('html_attr') }}"
                            />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block modal %}
    {{ parent() }}
    {% include "modal/emptyall.html.twig" %}
{% endblock %}
