{% extends 'base.html.twig' %}

{% block title %}AdresseUser{% endblock %}

{% block body %}
    <h1>AdresseUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresse_user.id }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ adresse_user.rue }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ adresse_user.country }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ adresse_user.zipcode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adresse_user.ville }}</td>
            </tr>
            <tr>
                <th>Gps</th>
                <td>{{ adresse_user.gps }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ adresse_user.type }}</td>
            </tr>
            <tr>
                <th>Pmr</th>
                <td>{{ adresse_user.pmr ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('adresse_user_index') }}">back to list</a>

    <a href="{{ path('adresse_user_edit', {'id': adresse_user.id}) }}">edit</a>

    {{ include('adresse_user/_delete_form.html.twig') }}
{% endblock %}
