{% extends 'admin.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>{{ 'edito.title'|trans({}, 'admin.messages') }}</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>{{ 'edito.content'|trans({}, 'admin.messages') }}</th>
                <td>{{ entity.content|raw }}</td>
            </tr>
            <tr>
                <th>{{ 'edito.published'|trans({}, 'admin.messages') }}</th>
                <td>{{ entity.published|format_datetime(pattern=formatdatetime.admin) }}</td>
            </tr>
            {% set fond = attachment(entity.fond) %}
            {% if fond is not null and fond.name is not null %}
            <tr>
                <th>{{ 'edito.fond'|trans({}, 'admin.messages') }}</th>
                <td>
                    <picture>
                        <img loading="lazy" alt="{{ 'edito.fond'|trans({}, 'admin.messages')|e("html_attr") }}" src="{{ asset(fond.name) | imagefilter('my_thumb') }}" />
                    </picture>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ 'edito.user'|trans({}, 'admin.messages') }}</th>
                <td>
                    {% if entity.refuser.deletedAt != '' %}
                        {% set url = 'admin_user_preview' %}
                    {% else %}
                        {% set url = 'admin_user_show' %}
                    {% endif %}
                    {% set state = url|guard_route %}
                    {% if state == true %}
                        <a href="{{ path(url, {'id': entity.refuser.id}) }}">{{ entity.refuser }}</a>
                    {% else %}
                        {{ entity.refuser }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'workflow.state'|trans({}, 'admin.messages') }}</th>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
