{% extends 'admin/edito/layout.html.twig' %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>{{ "Title"|trans }}</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>{{ "Content"|trans }}</th>
                <td>{{ entity.content|raw }}</td>
            </tr>
            <tr>
                <th>{{ "Published"|trans }}</th>
                <td>{{ entity.published|format_datetime(pattern=formatdatetime.admin) }}</td>
            </tr>
            {% set fond = attachment(entity.fond) %}
            {% if fond is not null and fond.name is not null %}
            <tr>
                <th>{{ "Fond"|trans }}</th>
                <td>
                    <picture >
                        <img alt="{{ "Edito Fond"|trans|e("html_attr") }}" src="{{ asset(fond.name) | imagefilter('my_thumb') }}" />
                    </picture>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ "User"|trans }}</th>
                <td>
                    {% if entity.refuser.deletedAt != '' %}
                        {% set url = 'admin_user_preview' %}
                    {% else %}
                        {% set url = 'admin_user_show' %}
                    {% endif %}
                    {% set state = guard_route(url) %}
                    {% if state == true %}
                        <a href="{{ path(url, {'id': entity.refuser.id}) }}">{{ entity.refuser }}</a>
                    {% else %}
                        {{ entity.refuser }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ "State"|trans }}</th>
                <td>
                    {% for state in workflow_marked_places(entity) %}
                        {{ state }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
