{% if categories|length != 0 %}
    <div class="aside-list">
        <h4>{{ 'bookmark.categories'|trans }}</h4>
        <ol>
            {% for category in categories %}
                <li>
                    <a href="{{ path('bookmark', 'category', {'code': category.slug}) }}" class="bookmark_category">{{ category }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endif %}
{% if libelles|length != 0 %}
    <div class="aside-list">
        <h4>{{ 'bookmark.libelles'|trans }}</h4>
        <ol>
            {% for libelle in libelles %}
                <li>
                    <a href="{{ path('bookmark', 'libelle', {'code': libelle.slug}) }}" class="bookmark_libelle">{{ libelle }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endif %}