{% set state1 = guard_route('api_guard_route') %}
{% set state2 = guard_route('api_guard_routegroup') %}
{% set state3 = guard_route('api_guard_routegroups') %}
{% set state4 = guard_route('api_guard_routesetgroup') %}
{% set state = state1 and state2 and state3 and state4 %}
{% if state1 == false %}
    {{ "Droit manquant"|trans }}
{% else %}
    <table is="guard-route" data-url="{{ path('api_guard_route') }}" data-refresh=0>
        <thead>
            <tr>
                <th rowspan=2>
                    {{ "Route"|trans }}
                </th>
                <th rowspan=2>
                    {{ "Actions"|trans }}
                </th>
                {% for group in groups %}
                    <th>
                        {{ group.name }}
                    </th>
                {% endfor %}
            </tr>
            <tr>
                {% for group in groups %}
                    <th>
                        {% if 'superadmin' != group.code %}
                            <guard-changeroute
                                data-state=0
                                data-url="{{ path('api_guard_routegroup', {'group' : group.id}) }}"
                                data-token="{{ csrf_token('guard') }}"
                            ></guard-changeroute>
                        {% else %}
                            ----
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for route in routes %}
            <tr>
                <td>
                    {{ route.name }}
                </td>
                <td>
                    <guard-allroute
                        data-state=0
                        data-check=0
                        data-url="{{ path('api_guard_routegroups', {'route': route.id}) }}"
                        data-route="{{ route.name|e('html_attr') }}"
                        data-token="{{ csrf_token('guard') }}"
                    ></guard-allroute>
                </td>
                {% for group in groups %}
                    <td>
                        {% set enable = guard_route_enable_group(route.name, group) %}
                        {% if 'superadmin' != group.code and enable %}
                            <guard-setroute
                                title="{{ group.name|e('html_attr') }}"
                                data-state=0
                                data-groupe="{{ group.code|e('html_attr') }}"
                                data-route="{{ route.name|e('html_attr') }}"
                                data-url="{{ path('api_guard_routesetgroup', {'group' : group.id, 'route': route.id}) }}"
                                data-token="{{ csrf_token('guard') }}"
                            ></guard-setroute>
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td colspan="{{ groups|length+2 }}" class="text-center">{{ "no records found"|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}