<table is="guard-route" data-url="{{ path('api_guard_route') }}" data-refresh=0>
    <thead>
        <tr>
            <th rowspan=2>
                Route
            </th>
            <th rowspan=2>
                Actions
            </th>
            {% for group in groups %}
                <th>
                    {{ group.name }}
                </th>
            {% endfor %}
        </tr>
        <tr>
            {% for group in groups %}
                <th>
                    {% if 'superadmin' != group.code %}
                        <guard-set
                            data-state=0
                            data-url="{{ path('api_guard_routegroup', {'group' : group.id}) }}"
                            data-token="{{ csrf_token('guard') }}"
                        ></guard-set>
                    {% else %}
                        ----
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for route in routes %}
        <tr>
            <td>
                {{ route.name }}
            </td>
            <td>
                <guard-set
                    data-state=0
                    data-url="{{ path('api_guard_routegroups', {'route': route.id}) }}"
                    data-route="{{ route.name|e }}"
                    data-token="{{ csrf_token('guard') }}"
                ></guard-set>
            </td>
            {% for group in groups %}
                <td>
                    {% set enable = guard_route_enable_group(route.name, group) %}
                    {% if 'superadmin' != group.code and enable %}
                        <guard-set
                            title="{{ group.name|e }}"
                            data-state=0
                            data-groupe="{{ group.code|e }}"
                            data-route="{{ route.name|e }}"
                            data-url="{{ path('api_guard_routesetgroup', {'group' : group.id, 'route': route.id}) }}"
                            data-token="{{ csrf_token('guard') }}"
                        ></guard-set>
                    {% else %}
                        ---
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ groups|length+2 }}" class="text-center">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>