<table is="guard-workflow">
    <thead>
        <tr>
            <th rowspan=2>
                Entité
            </th>
            <th rowspan=2>
                Transition
            </th>
            <th rowspan=2>
                Actions
            </th>
            {% for group in groups %}
                <th>
                    {{ group.name }}
                </th>
            {% endfor %}
        </tr>
        <tr>
            {% for group in groups %}
                <th>
                    {% if 'superadmin' != group.code %}
                        <guard-workflowgroup
                            data-state=0
                            data-token="{{ csrf_token('guard') }}"
                        ></guard-workflowgroup>
                    {% else %}
                        ----
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for workflow in workflows %}
        <tr>
            <td>
                {{ workflow.entity }}
            </td>
            <td>
                {{ workflow.transition }}
            </td>
            <td>
                 <guard-workflowgroups
                    data-state=0
                    data-entity="{{ workflow.entity|e }}"
                    data-transition="{{ workflow.transition|e }}"
                    data-token="{{ csrf_token('guard') }}"
                ></guard-workflowgroups>
            </td>
            {% for group in groups %}
                <td>
                    {% if 'superadmin' != group.code %}
                        <guard-workflowsetgroup
                            title="{{ group.name|e }}"
                            data-state=0
                            data-groupe="{{ group.code|e }}"
                            data-entity="{{ workflow.entity|e }}"
                            data-transition="{{ workflow.transition|e }}"
                            data-token="{{ csrf_token('guard') }}"
                        ></guard-workflowsetgroup>
                    {% else %}
                        ---
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% else %}
            <tr>
                <td colspan="{{ groups|length+3 }}" class="text-center">no records found</td>
            </tr>
    {% endfor %}
    </tbody>
</table>