{% extends 'admin.html.twig' %}
{% block body %}
    {% embed "admin/table.html.twig" with {
        theads: [
            {
                'name': 'chapter.refhistory'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.name',
                'name': 'chapter.name'|trans({}, 'admin.messages')
            },
            {
                'name': 'chapter.paragraphs'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.published',
                'name': 'chapter.published'|trans({}, 'admin.messages')
            },
            {
                'field': 'a.state',
                'name': 'workflow.state'|trans({}, 'admin.messages')
            },
            {
                'name': 'chapter.workflow'|trans({}, 'admin.messages')
            }
        ],
        pagination: pagination,
        action: true
    } %}
        {% import "admin/macro.html.twig" as macro_admin %}
        {% block tbody %}
            {% for entity in pagination %}
                <tr data-id="{{ entity.id }}">
                    <td>{{ entity.refhistory.name }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.paragraphs|length }}</td>
                    <td>{{ entity.published|format_datetime(pattern=formatdatetime.admin) }}</td>
                    <td>
                        {% for state in workflow_marked_places(entity) %}
                            {{ state }}
                        {% endfor %}
                    </td>
                    <td>
                        {{ macro_admin.workflow(entity, actions) }}
                    </td>
                    <td>
                        {{ macro_admin.actions(entity, actions) }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
